[2017-06-13 13:26] hashibot opened #1 "Support Consul ACL resources"
_This issue was originally opened by @sheldonh as hashicorp/terraform#2331. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I've love support for Consul ACL resources.

I've taken a quick look, and there's a bit of a decision to be made. Either I have to
- use Consul'

[2017-06-13 13:28] hashibot opened #2 "consul provider default token"
_This issue was originally opened by @failshell as hashicorp/terraform#2792. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

As the current Consul implementation is done, if using tokens, it's required to define them in each consul_keys resources. It makes a lot of se

[2017-06-13 17:39] hashibot opened #3 "consul_keys not exposing attribute for key"
_This issue was originally opened by @jniesen as hashicorp/terraform#7438. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]
### Affected Resource(s)
- consul_keys
### Terraform Configuration Files

[code]
### Debug Output

https://gist.git

[2017-06-13 17:51] hashibot opened #4 "consul_keys resource needs an 'insecure' option"
_This issue was originally opened by @pll as hashicorp/terraform#8690. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

This is essentially a feature request for the `consul` provider and/or the `consul_keys` resource to provide a means of insecurely connecting to an S

[2017-06-13 17:51] hashibot opened #5 "Certificates as data for the Consul provider"
_This issue was originally opened by @cbarbour as hashicorp/terraform#8760. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

## Description

It would be nice if the consul provider could accept certificates as data rather than as a file reference. This would simplify t

[2017-06-13 17:54] hashibot opened #6 "Add ssl_verify option to consul provider"
_This issue was originally opened by @gozer as hashicorp/terraform#8841. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Right now, working around it by setting :

[code]

in my environment, but would be so much cleaner if I could use the provider to do it explicitely

[2017-06-13 17:56] hashibot opened #7 "Applying a modification on a consul_service/consul_catalog_entry -resource removes the service in consul"
_This issue was originally opened by @Alars-ALIT as hashicorp/terraform#9070. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

0.7.4
### Affected Resource(s)
- consul_service
- consul_catalog_entry
### Expected Behavior

When the address or port

[2017-06-13 17:58] hashibot opened #8 "consul_keys data source ignores provider datacenter"
_This issue was originally opened by @hexedpackets as hashicorp/terraform#9310. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

0.7.5
### Affected Resource(s)
- consul provider
- consul_keys data source
### Terraform Configuration Files

[code]

[2017-06-13 18:07] hashibot opened #9 "Consul KV improvement: parsing a .env file"
_This issue was originally opened by @samber as hashicorp/terraform#10292. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi guys,

It would be very helpful to be able to set multiple consul-kv variables from a .env file, like following:

1- Traditional way
---

env.

[2017-06-13 19:35] hashibot opened #10 "Clarification required on consul_service, consul_agent_service, consul_catalog_entry resources"
_This issue was originally opened by @blalor as hashicorp/terraform#12163. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

From looking at the documentation, it's unclear how a user should choose between the above three resources.  Furthermore, both `consul_service` a

[2017-06-13 20:18] hashibot opened #11 "consul_service and consul_agent_service errantly subtitute localhost as provider address"
_This issue was originally opened by @wv-cfromm as hashicorp/terraform#13481. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Seems quite bizarre, but I get the same response out of both consul_service and consul_agent_service fairly often, but random.

[code]

Config

[2017-06-13 20:27] hashibot opened #12 "Terraform fails to notice when a Consul catalog entry has been removed"
_This issue was originally opened by @blalor as hashicorp/terraform#13944. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

Terraform v0.9.3

### Affected Resource(s)

- consul_catalog_entry

### Terraform Configuration Files

[code]

### Debug O

[2017-06-13 21:04] hashibot opened #13 "Resource `consul_key_prefix` does not honor datacenter set in provider `consul`"
_This issue was originally opened by @amanjeev as hashicorp/terraform#14451. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

The documentation at https://www.terraform.io/docs/providers/consul/r/key_prefix.html says that datacenter is option and that it by default use

[2017-06-21 20:10] mattlqx opened #14 "consul_key data source option for noisy key misses"
### Terraform Version
0.9.8

### Affected Resource(s)
- consul_key data source

### Terraform Configuration Files
[code]

### Actual Behavior
If `tf/outputs/vpc_id` doesn't exist in Consul, the default behavior is to have an empty string within the data source at the expected `data.consul_keys.vpc.var.vpc_id` location. This type of behavior may be desired in some circumstances, but in others it'd

[2017-06-21 22:19] hashibot opened #15 "Map/List support for Consul_Keys"
_This issue was originally opened by @wv-cfromm as hashicorp/terraform#15356. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

My project is a self-serve build/compile/deploy on immutable servers.  In numerous places, I have a need for complex structures as variables,

[2017-06-22 00:16] mattlqx commented on #15
I have a similar use-case and I would also desire native support for lists, if not both. I've tried using a `null_data_source` to split the a comma-delimited list, but it has the same string-only limitations. I think the way that you can currently obtain what you want is writing a module that will take a Consul path and output the result of a split based on whatever delimiter. But like you, I'd ra

[2017-06-24 02:05] wv-cfromm commented on #15
Yes, thats what I am doing today, but it quickly becomes unbearable.

For example "elb:0.0.0.0/0=80,443;app:sg-elb=80,81" with the order of splits being on ;:|=.  And this is a simple one.

data.consul_keys.var should have the same capabilities as -var on command line.

[2017-07-14 16:43] therealbill commented on #1
So to be clear, the proposal here would be a way to define Consul ACLs in terraform, yes? More specifically the ability to define bits such as the following (from the Consul ACL docs):
[code]

[2017-07-14 16:55] daveadams commented on #1
@therealbill , yes. That would be a great thing, and should be easy enough to implement. But there's a practical holdup in that ACLs consist of just three fields: the policy itself, the name, and the ID. The policy and the name are not guaranteed to be unique. The ID is unique, but unfortunately the ID *is* the credential itself, so since that would get stored in tfstate, and make the whole thing

[2017-07-14 16:55] daveadams commented on #1
I've personally managed a workaround using a null_resource and a script, which assumes there won't be more than one Consul ACL with the same name. This is not a safe assumption, because there can be. However, since I'm also the Consul administrator it works in my environment.

[2017-07-14 18:41] therealbill commented on #1
@daveadams thanks for the clarification. I may have to look at some workarounds myself in the meantime. I want to bootstrap a cluster w/some standard ACL setups and would prefer to keep it in terraform. Someday, perhaps. ;)

[2017-07-14 19:04] daveadams commented on #1
FWIW, here's my workaround module:

main.tf: https://gist.github.com/daveadams/1ba4828220911a126dbdf93629c037a1
manage-acl.rb: https://gist.github.com/daveadams/7f088e3ac338b54551a5124ad34baed2

As I mentioned, it relies on the ACL `Name` field being unique. But it works almost as well as a real resource would. We have some Consul config hardcoded into the manage-acl script in our internal repo, b

[2017-07-14 19:23] therealbill commented on #1
Thanks, I'll take a look.

[2017-07-21 15:08] apparentlymart commented on #15
Hi @wv-cfromm! Sorry for the slow response here.

Could you share an example of the set of keys you're trying to write into Consul? I'm not quite sure what is the best behavior here since Consul _itself_ only supports storing strings, and so Terraform is attempting to follow the same abstraction level as the underlying Consul API.

We are currently in the early stages of planning some configuratio

[2017-07-21 15:20] hashibot opened #17 "consul_key_prefix - variables in Consul KV add/replaced with every apply"
_This issue was originally opened by @VAdamec as hashicorp/terraform#15609. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.9.11

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/VAdamec/e3e3c2fe

[2017-07-21 15:42] mattlqx commented on #15
+1 on the `jsonencode` function. It's always seemed odd to me that you can only take in JSON and not output it. That would at least give symmetry to that situation.

[2017-07-21 16:19] matelang opened #18 "consul_key_prefix resource errors when it does not find key_prefix found in state"
### Terraform Version
0.9.11.

### Affected Resource(s)
- consul_key_prefix

### Terraform Configuration Files
[code]

### Expected Behavior
When deleting a consul cluster and starting a new one from scratch, I expect Terraform to be able to re-provision all our microservice's (Spring Boot & Cloud) configurations based on the consul_key_prefix resource.
This way I could keep all my configuration o

[2017-07-24 06:51] #18 closed

[2017-07-24 06:52] matelang commented on #18
It seems that the problem was not related to the provider. Don't mind this issue.

[2017-07-24 07:38] VAdamec commented on #17
Expected behaviour, can be closed

[2017-07-24 14:48] grubernaut commented on #17
Thanks @VAdamec, feel free to reach out with any further questions/issues.

[2017-07-24 14:48] #17 closed

[2017-07-25 18:53] wv-cfromm commented on #15
In my principle use case, I have a genericised TF config for an autoscaling group (and associated resources, security group, loadbalancer, etc), but its written to be dynamic and support different builds based on variables.    One of those variables is the structure for IPs/Ports/Protocols, used to build LB bindings and security group rules.

Because consul_keys are only interpretted as string, my

[2017-07-25 19:12] apparentlymart commented on #15
Oh, indeed... a `jsondecode` function is something we're looking at too. I was just focused on the encoding case because your issue seemed to be primarily about _writing_ to Consul. However, looking back now I see that you were probably talking about _reading_ from Consul instead.

Generally-speaking Terraform's design errs on the side of being explicit rather than doing "magical" inferences, sinc

[2017-07-25 20:09] wv-cfromm commented on #15
Ummm Yes, please please please.  Where to send bribes?

[2017-08-03 12:20] hashibot opened #19 "[documentation] Please expand the example code to show reading values from consul"
_This issue was originally opened by @juliangamble as hashicorp/terraform#15719. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

In the example here:
https://github.com/terraform-providers/terraform-provider-consul/blob/master/examples/kv/main.tf

There isn't an e

[2017-08-03 12:20] hashibot opened #20 "[documentation] consul keys data example doesn't show provider in example"
_This issue was originally opened by @juliangamble as hashicorp/terraform#15718. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

In the example here:
https://www.terraform.io/docs/providers/consul/d/keys.html

The provider is not shown in the example - and this is

[2017-08-03 12:20] hashibot opened #21 "[documentation] consul keys resource doesn't show consul provider in example"
_This issue was originally opened by @juliangamble as hashicorp/terraform#15717. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Could you please expand the example here:
https://www.terraform.io/docs/providers/consul/r/keys.html

To show a consul provider in addi

[2017-08-03 12:21] hashibot opened #22 "[Documentation] consul provider doesn't link to consul backend"
_This issue was originally opened by @juliangamble as hashicorp/terraform#15716. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

On the page here:
https://www.terraform.io/docs/providers/consul/index.html

It's not clear how the consul provider relates to the cons

[2017-08-09 19:17] gdavison opened #23 "Consul provider fails to refresh state when service removed out-of-band"
When a Consul service is removed out-of-band from the Terraform Consul provider, for instance manually, the provider can no longer refresh its state.

### Terraform-Provider-Consul Version
The provider name in `.terraform/plugins/darwin_amd64/` is `terraform-provider-consul_v0.1.0_x4`

### Affected Resource
- consul_service (I have not verified other resources from the Consul provider)

### Expect

[2017-11-22 20:32] pycaster commented on #19
True that. All the examples in docs point to writing values but not reading. How do I accomplish this? Is there an example out there?

Thanks.

[2017-11-22 23:25] pycaster commented on #19
This is what I am trying to do. I have a separate Terraform project that provisions infrastructure and I write an IP as k/v into Consul.

[code]

Now I want to retrieve this IP from Consul, I tried the below but won't work.

[code]

I see,

* module.ops.var.master_ip: Resource 'consul_keys.k8s_master_ip' does not have attribute 'key.value' for variable 'consul_keys.k8s_master_ip.key.value'

Ofcour

[2017-11-22 23:51] pycaster commented on #19
Never mind. Missed the line in the docs that said use data sources to retrieve the keys:)

Here is a way to retrieve,

[code]

[code]

[2017-12-17 19:23] Chhed13 commented on #13
It seems that it is on the consul/api library side

[code]
`client` initialized with correct datacenter from provider, but `info` return structure with datacenter of the agent that it requests. Self agent doesn't necessary present in the same datacenter as requested in provider - here is a mismatch.
It concerns all `getDC` usages (that 14), not just `consul_key_prefix`
It looks like with current `

[2017-12-17 19:27] Chhed13 commented on #8
As result of investigation - roots of this issue the same as in #13

[2017-12-19 13:06] joelcollin opened #29 "data source consul_catalog_service's tag argument is Computed"
### Terraform Version
Terraform v0.11.1
+ provider.consul v1.0.0

### Affected Resource
- data consul_catalog_service

### Terraform Configuration Files
[code]

### Debug Output
$ /c/terraform/terraform.exe plan

Error: data.consul_catalog_service.read-consul-primary-ns: "tag": this field cannot be set

### Panic Output
N/A

### Expected Behavior
I am not sure. This is either a documentation bug o

[2017-12-24 08:05] Chhed13 commented on #3
Usage of `key.name` and consequently `var` block has been marked as deprecated in version 0.7. Maybe it's time to remove it and bug will gone with it?

[2017-12-25 02:27] amanjeev commented on #13
Thanks @Chhed13! It seems that it would be nice to have a provider datacenter as well, if possible. What do you think?

[2017-12-26 06:38] Chhed13 commented on #13
According to the architecture of provider and resources `datacenter` form provider and from resource - is 2 different things and `datacenter` (or any field) can not be re-used in resource from provider for sure, because this field will be taken not directly from config, but from self agent.
@amanjeev actually we have both, they both with the same names - 1 in provider config, 1 in resource config.

[2017-12-27 04:37] natefaerber commented on #4
Seems like this can be accomplished with environment variable as described in #6 and ultimately, with an ssl_verify option as described there.

[2017-12-27 05:57] natefaerber commented on #21
I'm not sure this is needed especially since it sounds like it was done on purpose.  The example on the provider page makes it clear how it relates to resources in general.  https://www.terraform.io/docs/providers/consul/index.html

[2017-12-27 05:57] natefaerber commented on #20
I'm not sure this is needed especially since it sounds like it was done on purpose.  The example on the provider page makes it clear how it relates to resources in general.  https://www.terraform.io/docs/providers/consul/index.html

[2017-12-27 06:01] natefaerber commented on #19
It looks like this is no longer relevant since there is a data source example as of 3 months ago.  https://github.com/terraform-providers/terraform-provider-consul/blob/master/examples/kv/main.tf#L13

[2017-12-28 21:13] natefaerber commented on #23
@gdavison , is this still valid?  Can you provider TF snippets?  I will try to reproduce but would be good to know I'm using the same config parameters.

[2017-12-28 21:54] natefaerber commented on #23
OK, that was easy to reproduce.  I'm going to take a shot at making this work.  Our expectation is that it should just recreate it, right?  I'm not 100% sure a resource provider should behave this way so I'm going to look for other examples that demonstrate a preferred behavior.

[2017-12-29 00:12] natefaerber commented on #14
Hi, I totally understand what you mean but I think the purpose of `default` is to give you a way to safely check the result without failing the whole TF run.  Use `default` to set a "MISSING" string and check that later in your TF resources.  You could also do interesting things like set count on a resource to `${signum(length(data.consul_keys.vpc.var.vpc_id))}` to enable/disable a resource if the

[2017-12-29 00:25] natefaerber commented on #11
@wv-cfromm, are you still seeing this issue.  I'm wondering if it's related to strange behavior I'm trying to track down where an output that references a data.consul_keys.var doesn't get updated in the same apply.  So my question is, do you see this behavior when you are populating `consul_keys.vpc dns_lb_ip` in the same TF apply?  Actually, I wouldn't expect this to work because the providers ar

[2017-12-29 00:27] natefaerber commented on #7
@Alars-ALIT, I'm not able to reproduce this.  It seems to behave correctly when I update the address and/or port of a consul_service.  Do you still see this issue?

[2017-12-29 00:51] gdavison commented on #23
Yes, my expectation would be that it would recreate it. For example, if I delete an AWS resource, a `terraform plan` will not fail and a `terraform apply` will recreate the resource.

[2017-12-29 02:26] natefaerber commented on #9
@samber, you're looking for a `from_file` feature that can be accomplished using existing providers although the simplicity you propose would be convenient.

Here is how you do it with existing template_file provider:

[code]

.env
[code]

But note that with this method, removing lines from `.env` will not remove them from Consul.  I suppose a built-in "from_file" feature would be able to do the r

[2017-12-29 02:28] natefaerber commented on #23
👍 My PR (#33) will do this.  Now we need to get the attention of a maintainer.

[2017-12-29 03:01] natefaerber commented on #5
I was hoping I could help here but from my investigation, I found that there are too many moving parts for me to help here.  The problem is that consulapi doesn't support pem blocks so that feature would need to be added which I'm not ready to attempt.  If said functionality was ever added, I'd be happy to submit a PR to allow this option.

Crazy idea, what if Terraform had a function that simulat

[2017-12-29 07:56] natefaerber commented on #2
@failshell, are you sure about this?  The documentation shows that you can define a token in the provider and override it in consul_keys as an option.  I'm tracing the code and it all seems to suggest the token in consul_keys is passed to the client in the way that it overrides the default.  I'm going to keep digging but since this is 6 months old, I thought I should ask if this issue is still val

[2017-12-29 10:44] juliangamble commented on #22
Fair enough. Let's close this one.

[2017-12-29 10:45] juliangamble commented on #19
Great - please close this one.

[2017-12-29 10:47] juliangamble commented on #20
Fair enough - please close this issue.

[2017-12-29 10:49] juliangamble commented on #21
Thanks @natefaerber - I think it would be helpful to provide a "see also" link on each page to the other - so that https://www.terraform.io/docs/providers/consul/index.html links to https://www.terraform.io/docs/providers/consul/r/keys.html and vice versa - so people can find what they're looking for if they landed on the wrong page.  It feels a bit scattered at the moment.

[2017-12-29 18:56] natefaerber commented on #22
I think I understand what you mean.  Are you referring to backend as it is here?  https://www.terraform.io/docs/backends/config.html  If so, you can disregard my provider/backend comments.

In that case, Backend is for state storage where provider is for resources.  Since reference to Consul as a Backend (for states) is separated from the Consul provider in the documentation, I'm not sure where do

[2017-12-29 19:04] natefaerber commented on #21
<img width="829" alt="consul_provider_link" src="https://user-images.githubusercontent.com/3720207/34445308-bc5fa388-ec87-11e7-9408-731e0e41a8a5.png">

The link is there and follows the same patter for all providers.  I guess I'm just used to the workflow that when I land on a resource or data source page and have questions about the provider, I know to hit this link.  I'm guessing you want a link

[2018-01-04 17:50] #23 closed

[2018-01-04 17:59] #29 closed

[2018-01-04 19:05] joelcollin commented on #29
Thanks @natefaerber and @apparentlymart.

[2018-01-11 12:24] sakaru opened #35 "Provider fails to destroy consul_keys."
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- consul_keys

### Terraform Configuration Files
[code]
During the second run it is:
[code]

### Debug Output
https://gist.github.com/sakaru/e68c9918674bba98428f79ae56ae272d

### Panic Output
n/a

### Expected Behavior
The `consul_keys.test` resource should be destroyed from the consul service.

[2018-01-11 12:45] sakaru commented on #35
Never mind, I didn't see the `delete` argument reference. Closing issue.

[2018-01-11 12:45] #35 closed

[2018-02-02 22:09] Chhed13 commented on #3
I double checked it. And it works fine in Terraform 0.10.8 and breaks in 0.11.0. It caused by the same issue https://github.com/hashicorp/terraform/issues/17048

[2018-02-07 21:34] vancluever commented on #6
This has been completed via #31.

[2018-02-07 21:34] #6 closed

[2018-02-07 22:56] vancluever commented on #21
Hey all, as @natefaerber has mentioned, we do have a specific style for Terraform providers where the `provider` block is not really illustrated in examples for resources or data sources for brevity. The correct place to look for information on provider syntax is definitely the  provider documentation index as depicted in the comment above.

Thanks!

[2018-02-07 22:56] #21 closed

[2018-02-07 22:57] vancluever commented on #20
@juliangamble I've also mentioned some extra context to this in #21. Thanks!

[2018-02-07 22:57] #20 closed

[2018-02-07 22:57] #19 closed

[2018-02-07 23:09] vancluever commented on #10
Coming in fresh on looking at issues in the provider, I do find this a bit confusing myself. Not just that, but there is now documentation in `consul_service` that specific tells the user to _not_ use the service under most circumstances, and actually direct users to `consul_catalog_entry` instead.

I think this is not necessarily a documentation issue, but more a provider architecture issue now -

[2018-02-08 17:23] #22 closed

[2018-02-09 16:49] dblooman opened #37 "Recursive Keys"
The current data source for consul keys doesn't support using an entire folder, you are required to specify every key.  For my use case, Im versioning config, but want to grab all the key/vales under a folder, for which the keys may have changed.

[2018-02-09 22:07] natefaerber commented on #37
I had the same need so I wrote the `consul_key_prefix` data source that was merged into the unreleased 1.1.0.  See https://github.com/terraform-providers/terraform-provider-consul/blob/master/CHANGELOG.md

It should be useful for your needs when it's released.

[2018-02-09 22:30] DaveBlooman commented on #37
Excellent, when is the next release? I have written a work around in mean time, but would be good to have this in production

[2018-02-12 21:17] natefaerber commented on #37
I don't know when the next release is.  It's a bit slow here.

[2018-02-14 02:58] juliangamble commented on #22
My point was that frontend and backend are confused in the documentation - and that you need to (a) clarify in the documentation whether you're talking about frontend or backend and (b) provide links in the documentation saying "looking for the backend? follow this link!..." and vice versa.

[2018-02-20 21:41] wjessop opened #39 "Using hashicorp/consul/aws in a simple plan causes an InvalidClientTokenId error"
### Terraform Version

$ terraform -v
Terraform v0.11.3
+ provider.aws v1.9.0
+ provider.template v1.0.0

### Affected Resource(s)

hashicorp/consul/aws, at least I've not tried any more, it may affect other modules.

### Expected Behavior
Terraform should plan

### Actual Behavior
Terraform returns an error:

[code]

### Steps to Reproduce

Given a simple terraform config:

[code]

[code]

[code]

[2018-02-22 09:37] Zeldhyr opened #40 "NodeMeta"
Hi,
I need the NodeMeta feature (https://www.consul.io/api/catalog.html#nodemeta).
Will it be implemented soon?
I've done a pull request (#38) for this. What do you think about it?
Thanks for your help

### Terraform Version
0.11.3

[2018-03-12 15:31] moserke commented on #40
Thanks for doing this @Zeldhyr!  We needed the same thing and I was just starting to look in to it when I saw this issue.  Hopefully this makes it into the provider soon.

[2018-03-13 18:59] abcondas commented on #39
I just ran into the same problem while trying to run the Terraform getting-started Modules section: https://www.terraform.io/intro/getting-started/modules.html

[code]

Error: Error refreshing state: 1 error(s) occurred:

* module.consul.provider.aws: InvalidClientTokenId: The security token included in the request is invalid.
	status code: 403, request id: 08b82dde-26ee-11e8-9e7c-5d7f5065dc08

I

[2018-03-27 13:43] paultyng commented on #39
I may be wrong but I think that the root of that "module" isn't actually a module, as it has a `provider` definition. Per the docs:

So you would need to use the child modules, not the root, to actually spin up the cluster.

[2018-04-19 01:00] vchan2002 opened #44 "ACL testing that causes a 403 will forever 403 even with the corrected ACL"
### Terraform Version
0.11.5

### Affected Resource(s)
Please list the resources as a list, for example:
"consul_key_prefix"

### Terraform Configuration Files

This is part of the file... but as you see, i'm using a variable for the acl.

[code]

### Debug Output

This is from terraform

-----------------------------------------------------
2018/04/18 17:54:30 [DEBUG] [aws-sdk-go]
2018/04/18 17:5

[2018-05-01 21:35] pearkes commented on #44
Thanks for the report @vchan2002. I think this is a challenging aspect to being able to set the token per resource. Terraform is treating it as an attribute and it has a certain lifecycle as a result, something you're witnessing the downside of.

I'm guessing this won't work for you but I doubt you'll see the same issues when setting a single ACL token for the whole provider, described [here](http

[2018-05-01 21:36] pearkes commented on #40
That change in #38 looks good -- just need tests and we can get it merged!

[2018-05-01 21:39] pearkes commented on #13
Thanks for the good discussion here. Going to close as a duplicate of #8.

[2018-05-01 21:39] #13 closed

[2018-05-01 21:42] pearkes commented on #14
I think the best practice here is actually to fail for a data_source. Changing that won't be easy based on current usage. It is possible we could set the behavior via some boolean as discussed with `required` but I think that goes against best practices in a different way.

[2018-05-01 22:17] pearkes opened #46 "[ANN] Upcoming changes to Consul Provider"
In order to be transparent with the roadmap and broadcast some substantial changes coming to the provider, I'm opening this issue in the hopes that interested users will see it. Any changes will be versioned and included in changelogs, with old versions continuing to work (as long as the upstream Consul API continues to support them). You can learn more about pinning a provider version [here](http

[2018-05-02 15:32] pearkes commented on #44
It seems like another good and more realistic potential workaround is using [multiple instances of the Consul Provider](https://www.terraform.io/docs/configuration/providers.html#multiple-provider-instances) (with different tokens). I actually think this is better practice overall. However there are some constraints:

- It assumes you don't have 1-1 mappings from `consul_key*` resources to ACL tok

[2018-05-02 19:47] vchan2002 commented on #44
@pearkes Thanks for your response.  I'll try moving the token parameter from the resource to the provider and see what happens.
Further down the line, I would probabaly build some sort of pipeline where the token can be planted in a variable so we don't have to hard code the token anywhere.... I don't see that expliclty stated in the documentation as being an option... is that possible at this poi

[2018-05-02 19:54] pearkes commented on #44
@vchan2002 Both `CONSUL_TOKEN` and `CONSUL_HTTP_TOKEN` can be specified. I'll update the docs.

https://github.com/terraform-providers/terraform-provider-consul/blob/master/consul/resource_provider.go#L72-L73

[2018-05-03 00:02] vchan2002 commented on #46
Thanks for the FYI in regards to this...

I was about to raise a question in regards to the difference in between consul_service and consul_catalog_entry that appears to do the same thing... In fact, the documentation recommends that consul_service be not used in lieu of consul_catalog_entry.

Yet, I see that consul_catalog_entry is on the chopping block... Does that mean the documentation, as of

[2018-05-03 08:51] mildred opened #48 "Add resource to generate consul gossip keys (feature request)"
It would be great to have somewhere in terraform a resource that would generate a gossip key compatible to the format generated by `consul keygen`. This would help setting up clusters with consul using terraform.

[2018-05-03 16:28] pearkes commented on #46
@vchan2002 Yeah great question -- you're right the current `consul_service` does the wrong thing.

This plan does actually involve changing the `consul_service` resource -- with an attempt to make it use the catalog APIs as it should. I'm going to see if there is a backwards compatible way to achieve that (currently have not investigated). I've updated the table above to be more clear about that.

[2018-05-15 16:40] horalstvo commented on #12
Any news on when this will be released?

[2018-05-17 17:52] tecnobrat commented on #46
Does this mean support for health checks are coming?

[2018-05-18 22:55] pearkes commented on #46
@tecnobrat Not planned as part of this, but can you maybe open a separate issue on this repo that explains the use case and some examples?

[2018-05-24 21:39] vchan2002 commented on #46
I guess, as a followup....

At this time, If I were to want to setup a external consul service today, which provider should I use that would be the least painful in terms of forwards compatibility, when this is redone?  Should I use consul_service, even though it's not doing 100% the right thing, as you said?

[2018-06-02 03:04] pearkes commented on #46
@vchan2002 `consul_catalog_entry` is using same APIs and similar behavior as the upcoming version of `consul_service`, but in some cases it won't matter either way. `consul_catalog_entry` will require more modifications to the configuration, but you can be sure it will be doing the same thing behind the scenes (including requiring you to specify a node, unlike `consul_service`).

[2018-06-08 01:37] amitsaha opened #50 "`terraform plan` shows consul token provided via variable being"
Hello, details follows. Summary is that when using `consul_keys` resource, the `token` which is provided
via `-var` to `terraform plan`, it shows the `token` in plain text.

### Terraform Version

[code]

### Affected Resource(s)

- consul_keys

### Terraform Configuration Files

[code]

### Debug Output

Not relevant

### Panic Output

NA

### Expected Behavior

Consul token marked "computed" or

[2018-06-11 20:56] Xopherus commented on #12
It would be great to get this released soon! Would be great to have so that we don't have to edit the remote state when other projects accidentally overwrite an existing catalog entry.

[2018-06-23 08:36] sriyer commented on #46
@pearkes we are one of the enterprise users of consul 1.1.0 and we use the provider on our automation setup. We've enhanced it to add network area and acl token creation and update support, we are still sorting through the process on our side to contribute back though.

we'd love to hear on the implementation directions that have been thought of on these two resources and data sources so we could

[2018-06-24 22:18] pearkes commented on #46
@sriyer Would happily discuss my point of view and hear about the approach you took. If you could upstream it even better. I haven't gotten to thinking about implementation for both of those resources yet. The ACL management is far trickier given the simplistic nature of the ACL system in Consul -- there are definite security challenges that could not be worked around easily based on how the syste

[2018-07-06 03:36] Ashald commented on #1
It looks like there are [plans for native support of an ACL resource](https://github.com/terraform-providers/terraform-provider-consul/issues/46#issue-319347046) but meantime I implemented it as a custom terraform provider - hope it will be useful for others as well https://github.com/Ashald/terraform-provider-consulacl

The provider itself has 100% test coverage including integration tests and we

[2018-07-07 03:45] therealbill commented on #1
The route I took eventually was to use Terraform to define the ACL in Vault  which then manages Consul without the sensitive information winding up in the state file. May not work for everyone, especially those not using Vault, but so far it does for me. Took a bit of wrangling because the docs are unclear on that, and I’d love to see a proper TF resource for a consul ACL in Vault rather than a ge

[2018-07-09 22:14] pearkes commented on #1
@Ashald Thanks for that. There is work planned on the ACL API to enable non-sensitive token identifiers that will then allow us to officially add ACL support to this provider. Perhaps when that lands upstream we can collaborate on merging your resource here, and updating to that latest API?

[2018-07-09 22:19] Ashald commented on #1
@pearkes if that will be of any help I will be more than happy to do so!

Also, given the plans for HCL2.0 I was planning to update syntax so that it will be possible to copy-paster token rules into Terraform resource as is to simplify migration.

So far I've been using SHA256 hashes of tokens as IDs to not disclose them in logs.

As for sensitive values themselves, we need to ensure concrete toke

[2018-07-17 04:22] lawliet89 opened #54 "[Feature] Support health checks in `consul_service` resource"
### Affected Resource(s)
- `consul_service`

I would like to request for the ability to define health checks for services registered with the `consul_service` resource.

As far as I understand, the resource is meant for use with [external services](https://www.consul.io/docs/guides/external.html) and it would be great if we can also define health checks for the external service. Then, we can use s

[2018-07-17 15:47] pearkes commented on #54
I agree, this would be a good addition.

[2018-07-30 13:02] splashx opened #56 "[doc] Argument "datacenter" missing in Argument Reference for consul_node resource"
### Terraform Version

[code]

### Affected Resource(s)

- `consul_node`

### Terraform Configuration Files

* provider.tf

[code]

* app.tf:
[code]

### Expected Behavior

The node resource should have been created.

### Actual Behavior

[code]

### Steps to Reproduce

1. `terraform apply`

### Important Factoids

The `Permission Denied` message is correct because the token doesn't have the right

[2018-07-30 13:05] splashx opened #57 "consul_node resource doesn't inherit datacenter attribute from provider definition when defined"
### Terraform Version
Refer to https://github.com/terraform-providers/terraform-provider-consul/issues/56

### Affected Resource(s)

Refer to https://github.com/terraform-providers/terraform-provider-consul/issues/56

### Terraform Configuration Files

Refer to https://github.com/terraform-providers/terraform-provider-consul/issues/56

### Expected Behavior

Refer to https://github.com/terraform-p

[2018-08-08 13:06] Johannestegner commented on #48
I use the following bash command to generate keys for consul: `head -c 16 /dev/urandom | base64 > gossip.txt`, works fine without having to start a consul server to run the keygen command and should be easy enough to "bake" into a terraform resource (or even run through local-exec or something, hehe).

[2018-08-21 14:03] delphyne opened #59 "Enhancement: Add flags support to Consul key management"
Preamble: Consul allows you to set an unsigned integer along with a KV that can be used however the provider/consumer wish.  Often, this data contains a bitmask to let consumers know metadata about the key being read (is this value encrypted?, is it json encoded?, is the data binary?).  Terraform current does not support management of the Flags attribute.

### Terraform Version
0.11.7

### Affecte

[2018-09-07 14:28] Cib0rg opened #61 "Bug: Consul keys with dot in their names not fetching properly"
Hi there,
I have some keys in Consul with dots in their names. When I try to fetch them - I've got very strange results.

Example key are someserver.servername.pattern=<#hash>.domain.ltd and someserver.dispatcher.queue.size=65535

I am fetching data this way:
`output "consul-variables" {
  value = "${data.consul_key_prefix.web.subkeys}"
}
`

### Terraform Version

### Expected Behavior

### Actual

[2018-09-12 22:12] btyler97 commented on #35
Can I ask why an argument is necessary? If I'm running a destroy, I expect all of the resources to be destroyed. I don't understand why you explicitly have to flag them as "delete." Even the plan and destroy output indicate that the resource is going to be and was destroyed respectively.

[2018-09-12 22:15] btyler97 opened #63 "Destroy operation does not remove consul key resources"
There is a closed issue regarding this ( #35 ), but I have a question about the choice of the implementation.

Why is a "delete" argument necessary? If I'm running a destroy, I expect all of the resources to be destroyed. I don't understand why you explicitly have to flag them as "delete."

The plan and destroy output even indicate that the resource is going to be and was destroyed respectively.

[2018-09-13 15:03] remilapeyre commented on #54
Hi @pearkes, what is the status of this proposal? I don't know go but have the same need than @lawliet89 and could try to implement it if nobody have time to spend on it.

[2018-09-17 23:00] remilapeyre commented on #54
Hi, I tried to make a PR to add this feature, I never wrote Go before so it's probably hideous. I had to make a change in `vendor/github.com/hashicorp/consul/api/catalog.go` which is probably bad. Do you want me to make a new PR in `hashicorp/consul` ?

[2018-09-18 14:35] Cib0rg commented on #61
This issue may be closed: I investigate that this provider works correctly. Linked issue/merge request is https://github.com/hashicorp/terraform/pull/7654

[2018-09-18 14:35] #61 closed

[2018-09-21 17:00] #40 closed

[2018-09-28 18:59] tiagowegner opened #66 "data.consul_key_prefix usage doesn't match documentation"
I'm trying to use data.consul_key_prefix to batch read keys from consul, but terraform fails with "data variables must be four parts: data.TYPE.NAME.ATTR" even though I'm following [this](https://www.terraform.io/docs/providers/consul/d/key_prefix.html) document.
### Terraform Version
Terraform v0.11.8
+ provider.consul v2.1.0

### Affected Resource(s)
- consul_key_prefix

### Terraform Configurat

[2018-09-28 20:21] tiagowegner commented on #66
Looking into the source I've noticed that appending a ".subkeys" makes everything work.
${data.consul_key_prefix.aws-environment["vpc_id"]} -> ${data.consul_key_prefix.aws-environment.subkeys["vpc_id"]}

[2018-10-01 19:59] barsenault-strike commented on #66
Using `.subkeys` as well has been problematic for me because it seems to include an element representing the target key in addition to the rest of the subkeys.

[code]

It'll work for your situation where you're trying to match against a map but strictly speaking the `subkeys` attribute isn't returning _only subkeys_.

[2018-10-01 20:36] natefaerber commented on #66
Sorry.  I'm just seeing this now.  I must have skipped it in my inbox.  Looks like I did leave out the `.subkeys` ATTR from the example.  I can update that.  I'll see about updating the test case and code so it doesn't return the parent key.

[2018-10-01 20:51] barsenault-strike commented on #66
Awesome! In the meantime I was able to get around the empty element with this ugliness:

[code]

But I'd love to just use `.subkeys` as theorized!

[2018-10-01 21:29] natefaerber commented on #66
Hmmm.  I can't seem to reproduce this:

[code]

I suspect that your KV store was created in a strange way.  I don't understand why there is a `/` in front of all your keys.  I can reproduce this scenario this way:

[code]

I suggest running `consul kv export <prefix>` to verify this.  You will see something like this where lambda is my prefix:

[code]

Run `consul kv delete <prefix>` where prefix

[2018-10-02 17:00] barsenault-strike commented on #66
You know I thought that was going to confuse and so I went back and edited in the output from the way I'm doing it, which doesn't produce a `/`.

[code]

Without the `/` on the end of the `path_prefix` string you get it in the keys (`/`, `/testkey1`, etc). But _either way_ you get an extra element in the map for the parent key:

[code]
[code]

Hope that clarifies! That said, you are totally correc

[2018-10-02 23:32] #66 closed

[2018-10-02 23:33] pearkes commented on #66
I noted when I merged the above PR that this may not resolve your issue @barsenault-strike. Let me know if that is the case and we can re-open this.

[2018-10-03 00:26] pearkes opened #68 "external-source for UI Integration"
The Consul UI now respects a special metadata field on services that will show a Terraform icon next to service names if the correct metadata exists on the service.

We should add this to all service registrations performed by the Terraform provider (the `consul_service` resource).

There is more detail here: https://github.com/hashicorp/consul/pull/4640
And an example of it in the k8s catalog syn

[2018-10-22 17:08] pearkes commented on #54
@remilapeyre thanks for opening that PR!

Yes, for us to change the API interface that is vendored we need to update the upstream at hashicorp/consul (which you could make a separate PR for) and then re-vendor here with `govendor fetch github.com/hashicorp/consul@SHA`.  I can keep an eye out for that PR an d once that is done take a closer look here.

[2018-10-29 16:41] pearkes commented on #54
@remilapeyre awesome I think we're closer! Once you get that updated I'll take a closer review.

[2018-10-31 21:03] jsmilani commented on #1
Consul has released 1.4.0 rc1 and it seems to have added "Accessor ID - The token's public identifier." This sounds like the missing piece to implement this feature.

https://www.consul.io/docs/guides/acl.html#acl-tokens

[2018-10-31 21:05] pearkes commented on #1
@jsmilani yes! We're super excited 😄. We are internally planning on building token and policy resources and data sources but would happily accept a PR for it too. It is a lot of work -- I can support anyone doing it.

Just would need to let us know so we don't overlap.

[2018-10-31 22:47] remilapeyre commented on #48
@mildred This would be better as a new `random_bytes` resource in the Random terraform provider don't you think?

[2018-11-03 12:48] remilapeyre commented on #48
@mildred @Johannestegner I think you will find that `random_id` from the terraform Random provider will do what you need with the b64_std attribute:
[code]
the `b64_std` should be what you want:
[code]

[2018-11-04 23:31] remilapeyre commented on #59
Hi @delphyne, the attached PR should add what you need for the `consul_keys` resource. I'm not sure about the way to add it to `consul_key_prefix` as adding a new subkey element seems like a major change of this resource to me.

Is there cases where you could not use `consul_keys` to specify the flags?

[2018-11-08 14:31] delphyne commented on #59
@remilapeyre i think this solves most of it!  it just doesn't let you manage the keyspace the same way that consul_key_prefix does (removing keys not put there by terraform, etc.).

[2018-11-08 21:53] Nowaker commented on #6
@vancluever Was it ever released? I tried adding `insecure_https = true` and I'm getting:
[code]

[2018-11-09 16:33] remilapeyre commented on #63
Hi @btyler97, I'm not familiar with the history of terraform nor am I a member of Hashicorp who could give you a detailed explanation, but since you did not receive an answer, I can try an explanation.

The `delete` attribute has been added very soon to Consul provider, at a time where data sources were not yet available.

At that time, the keys resource was used to read data from Consul and this

[2018-11-09 16:57] remilapeyre commented on #6
Hi @Nowaker, can you post the output of `terraform providers`?

[2018-11-09 22:50] remilapeyre commented on #68
Hi @pearkes, I opened a new PR to add this information

[2018-11-10 12:09] remilapeyre commented on #50
Hi @amitsaha, this is indeed an issue, the attached PR should fix the problem.

[2018-11-26 10:58] mildred opened #74 "diffs didn't match during apply on consul_keys with bcrypt() fully reproducible"
### Terraform Version
[code]

### Affected Resource(s)

- consul_keys

### Terraform Configuration Files
[code]

### Output

[code]
[code]

### Debug Output

https://gist.github.com/mildred/4e4f078147963e527405ac3c68809f3c

### Steps to Reproduce

1. Write the terraform configuraton above to a ~example.tf~ file
2. Run `consul agent -dev` somewhere
3. Run `terraform init` followed by `terraform app

[2018-11-27 10:04] remilapeyre commented on #74
I don't know whether you know it but bcrypt have a salt that is not exposed by go api. This has been discussed on their bug tracker and they chose on purpose not to expose it: https://github.com/golang/go/issues/18737.

The result from `bcrypt` is not saved to the tfstate so their is no way to know if `random_id.prometheus_infra_passwd.b64_url` changed.

I don't really know what purpose the `bcryp

[2018-11-27 23:46] spanktar commented on #15
I came across this trying to WRITE to Consul and save myself a lot of repetition.  For example:

[code]

What I would hope for here is that the map keys are added under the path as a root, resulting in the following Consul keys:

[code]

As it stands now, I have to write each one out. It's do-able, just boring ;)

[2018-11-27 23:52] apparentlymart commented on #15
Hi @spanktar,

I think what you're describing there is what [the `consul_key_prefix` resource](https://www.terraform.io/docs/providers/consul/r/key_prefix.html) does. Passing in your `var.druid_historical` to its `subkeys` argument should get the result you're looking for.

[2018-11-28 14:48] mildred commented on #74
I could make it work using:

[code]

Probably a template data source would have worked, where the template content was just the bcrypt interpolation, but I had no ideas this could work without knowing the terraform internals.

In any case, the error message (_diffs didn't match during apply. This is a bug with Terraform and should be reported as a GitHub Issue._) does not really help to identify t

[2018-12-01 22:33] remilapeyre commented on #59
Hi @delphyne , I initially was not a fan of adding `subkey` to `consul_key_prefix` as it introduces a new syntax but looking at it again it seems fine (I still don't completely understand why `consul_key_prefix` work that way though because it seems to be one of the few to remove resources created outside of Terraform).

I will gladly add it amend the PR but would prefer someone from Hashicorp con

[2018-12-02 14:59] delphyne commented on #59
It maps more like tags on an AWS instance or security group rules. In both cases anything added outside of terraform gets whacked on apply. It is a bit of an anomaly, but also makes sense.

[2018-12-03 13:31] remilapeyre commented on #59
You convinced me :) I had not thought of those. The new changeset in #71 does this.

[2018-12-03 14:22] remilapeyre commented on #56
This is indeed a problem, thanks for reporting it.

I opened PR #75 to fix the documentation and will work on #57 in another one.

[2018-12-03 14:44] remilapeyre commented on #57
Hi @splashx , thanks for reporting the bug.

In #56 you say that `Permission Denied` is expected and you are trying to register an external service.
Do I understand correctly that:
  - you want to default to the configuration of the provider when `/agent/self` returns `Permission Denied`
  - the fact that this node is external is not really important and the bug would manifest itself as long as th

[2018-12-04 10:21] remilapeyre commented on #57
I thought we had to do

1. Datacenter of the resource if configured
2. Datacenter of the agent if the one in the resource is not defined
3. Datacenter of provider as last resort

Currently, it seems to me, that the behavior is 1 and 2 and never 3 but reading the documentation (https://github.com/terraform-providers/terraform-provider-consul/blame/master/website/docs/index.html.markdown#L57 and htt

[2018-12-05 01:07] pearkes commented on #1
FYI I just made a comment on a related PR that I thought was worth cross-linking here: https://github.com/terraform-providers/terraform-provider-consul/pull/60#issuecomment-444319067.

[2018-12-10 19:42] PurrBiscuit opened #76 "consul_keys resource not detecting missing keys from consul"
Hello,

We have an issue where consul keys had been set via terraform (using the config pasted below) and making it to state file just fine but when they had been deleted in the console, terraform wasn't detecting that those keys were missing and needed to get recreated on subsequent plans.  It's almost as if it's running with `-refresh=false` and the `consul_keys` resource isn't reaching out to c

[2018-12-11 15:01] splashx commented on #57
@remilapeyre

Cool! I think that makes sense. Since we didnt have 1 defined and 3 never happened, it failed on 2 (the token did not have rights to list agents).

🤞

[2018-12-12 12:54] remilapeyre commented on #76
Hi @PurrBiscuit, thanks for the bug report!

If I understand correctly, Terraform does not refresh its state correctly in some situation.

I have not been able to reproduce your bug, here's what I tried:
[code]

Maybe we do not have the same version of the Consul Terraform provider, can you paste the output of `terraform version`?

[2018-12-12 14:19] remilapeyre commented on #76
This is weird, does it always happen or was it only once?

[2018-12-12 14:57] PurrBiscuit commented on #76
I've seen it happen once for us but can try to reproduce again.  I had to remove the `consul_keys` resource from the terraform state with `terraform state rm consul_keys.dns` to get it to recreate those keys after they had been deleted from our consul cluster.

[2018-12-13 18:47] remilapeyre commented on #76
I'm not sure what the underlying cause may be, the issue may have been with Consul consistency if it never happens again.

If you can give the Consul version, and the configuration of your Consul cluster, I can try to replicate it to see if this change something (I think agents don't cache KV and that only masters answer but it's worth a try).

[2018-12-15 16:23] plaisted opened #77 "[Feature] allow force creation of consul_key_prefix resource with existing keys"
### Terraform Version
Terraform v0.11.10
+ provider.consul v2.2.0

### Affected Resource(s)
consul_key_prefix

### Enhancement
I use terraform to manage configuration stored in consul using the consul_key_prefix resource. Terraform configuration is stored in a git repo and promotion of config changes are managed using pull requests. The git repo is meant to the the source of truth.

With the curre

[2018-12-15 20:06] remilapeyre commented on #77
Hi @plaisted, thanks for opening an issue.

It is good to keep and version Terraform scenarios in git. As you have noted, loosing or corrupting the terraform state will lead to messy situations.

To avoid such situations, I usually use the S3 backend (https://www.terraform.io/docs/backends/types/s3.html) with locking in DynamoDB. Sharing the state with your team can simplify operations and the loc

[2018-12-15 21:49] plaisted commented on #77
Thanks for the comments. I can't recall TF state getting corrupt without someone doing something dumb, but we are new to TF so have been experimenting with a lot of different setups which have led to state issues (lost state, multiple sets of state from different groups, etc). Most of these issues were part of our operational learning curve.

I'm planning out our disaster recovery strategy for the

[2018-12-17 00:01] remilapeyre commented on #77
Hi @plaisted, the new changeset in #78 should do what you are looking for.

Here is an example:

[code]

[2018-12-18 14:42] remilapeyre commented on #57
Hi @splashx, I started to work on the issue.

You can find the change here: https://github.com/remilapeyre/terraform-provider-consul/tree/datacenter-attribute-inheritance

I checked the change with the following Consul (1.4.0) configuration:

[code]

this anonymous policy:

[code]

and the following terraform scenario:

[code]

Here, the result, first with the version 2.2.0 then with the version f

[2018-12-19 10:15] remilapeyre commented on #74
Hi @mildred, sorry for the delay, you are absolutely right that the issue is with functions that are not pure.

Notice that while the workarounds you proposed work correctly, `terraform apply` will always update the resource because the output of `bcrypt` changes for each run:

[code]

This may not be what you expect when using Terraform although it may fit your specific use-case. If not, you can

[2018-12-21 03:14] eedwards-sk opened #79 "feature request: support ca path in provider settings"
this is a feature request to support the [ca_path](https://www.consul.io/docs/agent/options.html#ca_path) configuration option from consul

currently the only supported provider feature is `ca_file`, which requires a path to a single file

because a valid configuration for consul is to have a directory containing ca files used, I believe that the consul terraform provider should support it, as wel

[2018-12-21 12:52] remilapeyre commented on #79
Hi @eedwards-sk, thanks for opening a feature request!

This seems reasonable and it is the last TLS configuration attribute missing for the provider.  PR #80 should do what you want.

[2018-12-27 15:32] remilapeyre opened #81 "[Bug] `consul_intention` makes Terraform panics if the resource has been deleted"
When a `consul_intention` resource is deleted manually, subsequent plans panic when reading this resource.

This is very similar to #69

As far as I can tell after a quick glance at other resources, they seem not to have this bug although a more in-depth check should be done.

### Steps to Reproduce
[code]

[2018-12-27 15:49] remilapeyre commented on #81
After testing with this configuration, it seems that the only resources to be subject to this bug are `consul_intention`, `consul_node` and `consul_service`:

[code]

[2019-01-17 19:26] eedwards-sk opened #87 "[Feature Request] data.consul_service using health endpoint"
Currently, `data.consul_service` has almost no use for me, as I discovered it returns from the catalog and does not exercise the health check results.

Ideally, I'd like to use `data.consul_service` to return the healthy addresses for a service. I'm not sure what use cases people have where they want to get unhealthy results, but I don't have one.

I need to configure terraform's vault provider wi

[2019-01-17 21:42] remilapeyre commented on #87
Hi @eedwards-sk, can you give more information about your use-case?

It is true that a new data source may be needed to fetch health information about a given service but maybe you can use Consul DNS interface to achieve the same goal.

[2019-01-17 22:34] eedwards-sk commented on #87
Hi @remilapeyre thanks for the response

Unfortunately I cannot use dns, and I tried many, many ways to make that work first (I know more about iptables and resolv.conf now than I ever cared to).

I'm doing orchestration [running terraform as concourse-ci tasks](https://github.com/Snapkitchen/concourse-terraform) and inside containers you cannot override resolvers on alpine, for example (thanks to

[2019-01-18 08:46] remilapeyre commented on #87
Hi @eedwards-sk, thanks for taking the time to explain why using the DNS interface was not an option.

A new `consul_service_health` datasource aroung [/health/service/:service](https://www.consul.io/api/health.html#list-nodes-for-service) is probably the best way forward.

I can start working on this next week.

[2019-01-22 13:15] igordavid opened #88 "Consul support for Terraform 0.12?"
Hello,

Are there any plans to release Consul provider which will be working with Terraform 0.12, and if so is there any timeline?

Currently when I try to use newest Terraform 0.12 with Consul, there is an error:

[code]

### Terraform Version
[code]

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- multiple resources

### Terraform Configuration Files
[code]

[2019-01-24 17:14] eedwards-sk commented on #87
Awesome, please let me know if you need any testing. I'm happy to help!

[2019-01-29 21:55] remilapeyre commented on #87
Hi @eedwards-sk, I started working on the PR, it is not fully ready yet but you can see the progress https://github.com/terraform-providers/terraform-provider-consul/pull/89.

You should be able to get vault healthy instances with:
data "consul_service_health" "vault" {
  service = "vault"
  passing = true
}

provider "consul" {
  version = "~> 2.2"
}

provider "vault" {
  version = "~> 1.4"
  add

[2019-01-29 22:54] eedwards-sk commented on #87
@remilapeyre Sure, what's the correct way to load a provider overriding the default (so I can use your PR's version)?

[2019-01-29 22:57] remilapeyre commented on #87
You can put the provider in `~/.terraform.d/plugins` (or `%APPDATA%\terraform.d\plugins` on Windows)

https://www.terraform.io/docs/extend/how-terraform-works.html#discovery

[2019-01-29 23:03] remilapeyre commented on #87
If you are not able to build it, I think I should be able to send you a cross-compiled binary

[2019-01-29 23:05] eedwards-sk commented on #87
Thanks, I'm running terraform through my tool [concourse-terraform](https://github.com/Snapkitchen/concourse-terraform), so if I can pull in your PR and stage it into the terraform working directory, if that will work?

I'd need to confirm the expected layout of the plugin dir once checked out. It's not easy to stage them in `.terraform.d`, or anything in the home directory. working directory is b

[2019-01-29 23:13] remilapeyre commented on #87
You can download it here: https://temp-terraform-consul.s3.eu-central-1.amazonaws.com/terraform-provider-consul

The sha sum should be `3b8d07ceeaa14a914255988d1148592a09e9d3d8`

[2019-01-29 23:15] remilapeyre commented on #87
I don't think you can build it in your image but if you copy it to `/root/.terraform.d/plugins` I think it should work

[2019-01-30 17:24] remilapeyre commented on #87
Hi @eedwards-sk, I made a more comprehensive test but wasn't able to reproduce the bug.

Could you send me the result of http://consul_hostname:8500/v1/health/service/vault if there is no confidential information in it?

[2019-01-30 17:31] eedwards-sk commented on #87
@remilapeyre absolutely! This is a testing cluster that I'll be tearing down anyways.

<details>
  <summary>vault service health</summary>

[code]
</details>

[2019-01-30 21:37] remilapeyre commented on #87
I'm a bit puzzled because in
[code]
each field should contain a duration like `"5s"`.

When testing, I run a Consul development server with `consul agent -dev` and a Vault server with `vault server -dev -config vault.hcl` with `vault.hcl` being:

[code]

and when fetching http://localhost:8500/v1/health/service/vault I get:
[code]
where `"Definition"` is the empty object `{}`.

Can you tell me you

[2019-01-30 21:44] eedwards-sk commented on #87
vault 1.0.1
consul 1.4.1

vault automatically registers the health checks with consul

https://github.com/hashicorp/vault/blob/v1.0.1/physical/consul/consul.go
https://github.com/hashicorp/vault/blob/v1.0.1/vendor/github.com/hashicorp/consul/api/api.go
https://github.com/hashicorp/vault/blob/v1.0.1/vendor/github.com/hashicorp/consul/api/agent.go

[2019-01-30 22:08] remilapeyre commented on #87
Ok, I'm using Consul 1.4.0 and the difference in behavior comes from that.

There has been many changes to this endpoint between 1.4.0 and 1.4.1, `git log -p v1.4.0...v1.4.1` then looking for `DeregisterCriticalServiceAfter` show most of them.

I will try to update `vendor` and I expect the issue to disappear.

[2019-01-30 22:23] remilapeyre commented on #87
Ok, I updated the plugin at https://temp-terraform-consul.s3.eu-central-1.amazonaws.com/terraform-provider-consul

The new shasum is `f4c3372e89fce52dc65b3046fe76c2b07e16c421` and it should work against Consul 1.4.1

[2019-01-30 22:31] eedwards-sk commented on #87
Thanks for the work!

[2019-02-04 22:44] appilon opened #91 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-02-05 09:55] remilapeyre commented on #91
Thanks for doing this, I will wait before merging any changes

[2019-02-05 19:37] #56 closed

[2019-02-21 15:35] radeksimko commented on #91
Addressed in https://github.com/terraform-providers/terraform-provider-consul/pull/92

[2019-02-21 15:35] #91 closed

[2019-02-26 23:14] #59 closed

[2019-02-27 10:56] #50 closed

[2019-03-05 23:54] apparentlymart commented on #15
[The `jsondecode` function](https://www.terraform.io/docs/configuration/functions/jsondecode.html) I mentioned before is now available for testing in [v0.12.0-beta1](https://www.hashicorp.com/blog/announcing-terraform-0-1-2-beta1), and will be included in the forthcoming v0.12.0 final release. This also includes a generalization of [the `jsonencode` function](https://www.terraform.io/docs/configur

[2019-03-05 23:54] #15 closed

[2019-03-07 10:13] #77 closed

[2019-03-07 10:14] remilapeyre commented on #81
Fixed by #69

[2019-03-07 10:14] #81 closed

[2019-03-07 10:34] #68 closed

[2019-03-07 10:35] #12 closed

[2019-03-18 20:23] #79 closed

[2019-04-05 10:54] remilapeyre opened #95 "Find a way to bootstrap Consul ACL support"
https://github.com/terraform-providers/terraform-provider-consul/pull/60 introduces support for ACL with `consul_acl_policy` and `consul_acl_token`. Both require the ACL to have been previously bootstrapped manually to work.

Bootstrapping ACLs requires to keep track of the master token given by https://www.consul.io/api/acl/acl.html#bootstrap-acls so it would be written as clear text in the terra

[2019-04-09 19:20] hashibot[bot] opened #97 "Consul provider, what are minimum ACL rules in policy?"
_This issue was originally opened by @vasilij-icabbi as hashicorp/terraform#20966. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hello,
I am using Consul provider with Terraform and I want it to be secured with Consul ACL token.

Question is: What are minimum re

[2019-04-09 20:01] remilapeyre commented on #97
Hi @vasilij-icabbi, if I understand correctly your question, this will depend on the resources and data-sources you want to use and the ACL configuration of your cluster.

I would start with a token with all privileges removed and add them as you need them. If you want to know which ACL is needed for a given resource, you can look at the "ACL Required" in the corresponding [Consul HTTP API documen

[2019-04-10 11:14] vasilij-icabbi commented on #97
@remilapeyre Thank you for your reply. I use Consul provider for configuration only, so it needed only for KV storage.

I created policy with rule:

[code]

Created token, assigned policy with role above and provided it to terraform consul provider. And here it fails with 403.

Either I do something wrong or either consul provider does some API calls and requires more policy rules to function prop

[2019-04-11 18:48] pearkes commented on #54
This is done via https://github.com/terraform-providers/terraform-provider-consul/pull/64.

[2019-04-11 18:48] #54 closed

[2019-04-16 14:47] vasilij-icabbi commented on #97
Hello,
just checking if anyone can help me here?

[2019-04-17 12:46] remilapeyre commented on #97
Hi @vasilij-icabbi, Terraform currently needs to read the configuration of the agent to know which datacenter it is connected to. Can you confirm that it works with this policy?

[code]

If so I will look into removing this restriction.

[2019-04-17 13:04] vasilij-icabbi commented on #97
Hello @remilapeyre , Thank you for your reply, that helped and I confirm that it works as intended, I can write into KV and read from it too.

[2019-04-17 18:41] raykao opened #100 "Consul ACL Token Update"
In addtion to #95 - it would be good if we can update ACL Tokens and Policies that already exisit.

As an example - the Anonymous token - providing it with a new updated ACL Policy that allows it read on all nodes:

[code]

Currently can create a new token and policy but can not update an existing token's policy etc.

[2019-04-17 19:33] #97 closed

[2019-04-19 21:22] ashald commented on #57
I just downloaded the latest provider version and have been bitten by this issue. :(

[2019-04-19 21:26] ashald opened #101 "consul_service resource overrides node meta"
It's clear from the source code that we can see at https://github.com/terraform-providers/terraform-provider-consul/blob/master/consul/resource_consul_service.go#L321-L327:
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- `consul_service`

### Expected Behavior
At the bare minimum, one would expect that node meta would be preserved.

On top of that, I believe `e

[2019-04-19 21:41] remilapeyre commented on #101
Thanks for the report @ashald, I overlooked this when adding `external-node` and `external-probe`. What you propose makes sense.

[2019-04-19 21:42] remilapeyre commented on #57
Hi @ashald, I will merge the attached parch so this can be fixed in the next release.

[2019-04-19 21:43] remilapeyre commented on #100
Hi @raykao, I think making both resource importable should solve your issue. I'm working on the patch to do this.

[2019-04-19 21:45] ashald commented on #101
I'm pretty sure I'd do the same if I were in your shoes implementing those resources. There is a lot of complexity to it and it's easy to be tricked by that.

Thanks for your prompt attention!

[2019-04-19 22:03] ashald commented on #57
Thanks a lot!

[2019-04-25 17:30] eedwards-sk commented on #87
heya @remilapeyre any progress on this?

[2019-04-25 22:14] remilapeyre commented on #87
Hi @eedwards-sk, I'm having some issue with implementing the retry suggested in https://github.com/terraform-providers/terraform-provider-consul/pull/89#issuecomment-474920777

I think I will make a new release in the next few days and will merge the feature as it is now, without the retry option, if I can't get it to work.

[2019-04-26 15:02] remilapeyre commented on #101
Thanks for your feedback, after more look into it, it seems that `consul_node` was not detecting changes made to the `address` and `meta` attributes which led to the bug in the first place. This is fixed in #104 that should be merged in the next few days.

In the meantime, you can work around the bug by removing `external` from your Terraform scenario and set `external-probe` and `external-node` m

[2019-04-27 00:45] ashald commented on #101
Thanks for the update!

[2019-04-29 17:33] eedwards-sk commented on #87
sounds good, the retry is outside the scope of my use case anyway, but would make a good follow-up enhancement

[2019-05-14 14:56] remilapeyre opened #108 "consul_prepared_query do not read properly their failover, template and dns attributes"
`resourceConsulPreparedQueryRead` does not set properly the `failover`, `template` and `dns` attributes, this makes `consul_prepared_query` ignore external changes of those attributes.

This can be easily seen by running `TF_SCHEMA_PANIC_ON_ERROR=1 make testacc TESTARGS="-count=1 -run=TestAccConsulPreparedQuery_basic"`:

[code]

[2019-05-15 11:36] EliaSaSe commented on #88
Hi @remilapeyre

I'm currently testing terraform 0.12 rc1. But I can't upgrade because this plugin has no 0.12 support for now. What is the progress with the 0.12 compatibility? Will be there an update for this plugin before 0.12 releases?

Best regards,
Elia

[2019-05-15 11:47] remilapeyre commented on #88
Hi @EliaSaSe, the work to make this provider work with Terraform 0.12 has been done in the `terraform-0.12` branch (https://github.com/terraform-providers/terraform-provider-consul/tree/terraform-0.12) and it is currently working. The release come shortly.

In the meantime, it is possible to copy the resulting artifact of `make` to the Terraform plugin folder (https://www.terraform.io/docs/configu

[2019-05-15 11:52] EliaSaSe commented on #88
@remilapeyre Ohh, I missed that branch. Thank you for the update. I will build my own plugin from this branch, until the release is available.

[2019-05-17 21:02] szemlyanoy opened #111 "Cannot store statefile in Consul"
Hi there,

### Terraform Version
0.11.14

### Terraform Configuration Files
main.tf
[code]
resources.tf
[code]

Then run initialization from Terraform workspace
[code]
And the applying resources
[code]

I see no state file on Consul side neither any resources changes.

State file itsefl was created locally instead
[code]

### Expected Behavior
State file appear in Consul

### Actual Behavior
State

[2019-05-18 10:44] #100 closed

[2019-05-18 10:45] #108 closed

[2019-05-21 02:29] StuporHero opened #112 "Meta block on consul_service"
In connection to #101, I'm wondering if there is a technical reason we can't implement a meta block for `consul_service`. I'm trying to register details of my Oracle database system created in OCI that could lose support if I install a consul agent directly on it, so I'm treating it like an external service. I'd like to use the specifics of the database in a provisioning workflow that clones a dat

[2019-05-21 09:22] remilapeyre commented on #112
Hi @StuporHero, thanks for opening this issue!

`Meta` is optional and I think nobody needed it until now, adding a `meta` attribute to `consul_service` would be nice. You can try yo implement it and I would be happy to guide you through the process if you need help.

[2019-05-21 12:49] ars05 opened #113 "error creating ACL policy"
Trying to populate a policy in Consul using terraform consul_acl_policy resource but I get 404 - I have attached the DEBUG log.

Policy which I'd to populate is valid and tested.

### Terraform Version
Terraform v0.11.14

### Affected Resource(s)
consul_acl_policy
https://www.terraform.io/docs/providers/consul/r/acl_policy.html

### Terraform Configuration Files
[code]

### Debug Output
[TF_LOG.tx

[2019-05-21 13:03] remilapeyre commented on #113
Hi @ars05, the `consul_acl_policy` is part of the new policy system introduced in Consul 1.4.0 so you cannot use it with Consul 1.1.0.

[2019-05-21 13:03] #113 closed

[2019-05-21 17:31] StuporHero commented on #112
@remilapeyre Actually, I just reviewed #104, and it looks like that PR adds the `meta` block. Merging that PR should get me what I need. Any idea when that'll be possible? It looks like it was waiting on a release that may have been delayed.

[2019-05-22 21:42] remilapeyre commented on #112
Hi @StuporHero, I think you are confusing the `NodeMeta` and `ServiceMeta` attributes. Both can be set when registring a service in Consul (see https://www.consul.io/api/catalog.html#sample-response-3). `NodeMeta` is exposed in `consul_node` but `ServiceMeta` is not present in `consul_service` and there is no way to set it as far as I know.

I think #104 should be merged in a couple of days.

[2019-05-22 21:53] remilapeyre commented on #111
Hi @szemlyanoy, I tried to reproduce your bug with Terraform 0.11.14 and Consul 1.5.0 but could not.

I'm sorry, I won't be able to help you more, this repository is for the Consul Terraform provider and not the Consul Terraform backend.

For bugs with the Consul Terraform backend, please open issues at https://github.com/hashicorp/terraform/issues

[2019-05-22 22:15] StuporHero commented on #112
@remilapeyre You would be correct. I don't know what I saw that made me think #104 would fix my problem.

[2019-05-22 23:01] peimanja commented on #88
I know terraform 0.12.0 just released today but is there any timeline on releasing compatible version?

[2019-05-26 13:35] seans11 commented on #88
I attempted to compile the latest `terraform-provider-consul` from the terraform 0.12 branch as recommended, but was unable to get it working.

I placed the plugin binary `terraform-provider-consul` in **~/.terraform.d/plugins** and tried to run terraform again, but terraform does not appear to be using it.  I tried specify a `version = "> 2.3.0"` in the consul provider statement, but that didn't

[2019-05-26 13:51] remilapeyre commented on #88
Hi @seans11 . I don't think you need to specify a versin. Did you ran `terraform init` after adding the binary to to `~/.terraform.d/plugins`?

[2019-05-26 14:47] seans11 commented on #88
I did run a `terraform init` and the following was the response I got back:
[code]
I deleted the entire .terraform directory and started fresh and I can now see the consul provider listed with the other providers, and it shows version 6.0.0 (I named the plugin terraform-provider-consul_v6.0.0_x4 to validate it was seeing the version of consul i compiled).

When I run `terraform providers` using th

[2019-05-26 15:03] remilapeyre commented on #88
The version should be `provider.consul (unversioned)`. Did you try to run `rm -rf .terraform && terraform init` when the `version = ` statement was not in the consul provider?

[2019-05-26 15:27] seans11 commented on #88
I renamed the plugin to `terraform-provider-consul`
I removed the provider statement `version=`
I removed the .terraform directory
I ran `terraform init`

This is what it returned this time:
[code]

Now it doesn't show the consul provider.  Additionally I'm still receiving the "Failed to instantiate provider" error.

[2019-05-27 08:27] #111 closed

[2019-05-28 10:14] Lasering commented on #88
If you use the code at the terraform-0.12 branch and change the file `go.mod` to use terraform 0.12 instead of terraform v0.12.0-alpha4.0.20190424121927-9327eedb0417. It works.

So a release should be very easy :wink:

[2019-05-28 10:18] remilapeyre commented on #88
Thanks, we are in the process of releasing the bug fixes and new features we had and should do the release for Terraform 0.12 shortly after.

[2019-05-29 16:04] aglover-zendesk opened #119 "consul_prepared_query always returns unclean diff with `failover.nearest_n` set to 0 and `failover.datacenters` populated"
### Terraform Version

[code]

### Affected Resource(s)
- consul_prepared_query

### Terraform Configuration Files
[code]

### Expected Behavior
A `terraform` plan shows a clean diff with the message `No changes. Infrastructure is up-to-date.` after these resources are created/updated.

### Actual Behavior
Even after applying changes numerous times, `terraform plan` always shows that the failover

[2019-05-29 20:56] remilapeyre commented on #119
Thanks for reporting this bug @aglover-zendesk. The previous behavior of `consul_prepared_query` was not setting `failover` correctly so it would ignore external changes to this attribute. #109 fixes that but introduces this bug since I kept the old test without updating it. Changing the test `pq.Service.Failover.NearestN > 0` to `pq.Service.Failover.NearestN > 0 || len(pq.Service.Failover.Datacen

[2019-05-30 13:24] aglover-zendesk commented on #119
Thanks for the response @remilapeyre, and you inferred my problem perfectly - as you guessed, I'm setting `nearest_n` and `datacenters` with variables. I just used the explicit values in the issue report above for clarity.

Thanks for the detailed explanation of the behavior of the `failover` properties. A minor release that includes your fixes from #109 and fixes this diff behavior would be aweso

[2019-05-31 20:56] StuporHero commented on #112
@remilapeyre I've got some questions about writing the tests. Is it okay if I go ahead and create a pull request with what I've got so far to make it easier to collaborate on it?

[2019-05-31 20:57] remilapeyre commented on #112
Yes absolutely!

[2019-06-05 06:11] mytototo opened #123 "Role resource"
Hi,

I'd like to create Consul roles from Terraform, so I can have a complete control of policies, tokens, and roles.

I can't find docs about a role resource.
Am I missing something ? Is this something planned ?

Thanks.

[2019-06-05 09:00] remilapeyre commented on #123
Hi @mytototo, does https://www.terraform.io/docs/providers/consul/r/acl_policy.html do what you want?

[2019-06-05 09:23] mytototo commented on #123
Hi @remilapeyre, it looks like it doesn't do what I need since it doesn't apply a policy to a role but only creates a policy.

[2019-06-05 09:52] remilapeyre commented on #123
Sorry yes, you are right. We don't have a `consul_acl_role` yet

[2019-06-05 10:37] mytototo commented on #123
Just out of curiosity, is this something planned in a near future or not ?

[2019-06-05 11:14] remilapeyre commented on #123
I just forgot it, I should be able to write a PR for this in the next few days.

[2019-06-05 11:40] mytototo commented on #123
This is great news ! Thank you very much.

[2019-06-24 12:49] zeroflaw opened #124 "Health checks created with terraform, do not work."
I'm having some issues when using the consul terraform provider using health checks. They don't seem to be working correctly. However if I create them from the standard API they do work. So It must be something that's not correct in the terraform json payload.
I'm still trying to find out exactly what the case is, but this is my current setup.

### Terraform Version
Terraform v0.12.2

### Affected

[2019-06-24 13:37] #124 closed

[2019-06-26 08:47] remilapeyre commented on #124
Hi @zeroflaw, it looks like you had an issue there but could resolve it yourself. Is everything good?

[2019-06-27 08:43] randomswdev opened #125 "Allow adding/removing policies for the anonymous token (feature request)"
### Terraform Version
Terraform v0.12.0

### Expected Behavior
If multiple tenants manage the same Consul server, each of them could require adding policies to the anonymous token. While other tokens can be created/destroyed as needed (so every tenant can create its owns), the anonymous token is globally shared and cannot be replicated (Consul manages it in a specific way).
For this reason we woul

[2019-06-27 09:12] randomswdev opened #126 "Allow access to the secret of a consul token (feature request)"
### Terraform Version
Terraform v0.12.0

### Affected Resource(s)
- consul_acl_token

### Expected Behavior
After creating a Consul token, it could be necessary to access the associated secret. For example, to configure the Vault's "Consul secret engine" we could use:

[code]

### Actual Behavior
The above code fragment does not work, because the consul_acl_token does not provide a way to retrieve

[2019-06-27 13:44] remilapeyre commented on #125
Hi @randomswdev, thanks for opening a new issue. I understand your need, I think this could be added with a new resource:

[code]

a bit like `aws_security_group` and `aws_security_group_rule` work in the AWS provider. This would obviously conflicts with the `consul_acl_token.policies` attribute but a warning could be added in the documentation.

I don't think we would be able to distinguish betwe

[2019-06-27 13:46] remilapeyre commented on #126
Hi @randomswdev, we had a lot of discussion on this and this is pretty much all the alternatives. We decided to go with a separate data source wo the secret token would not be exposed in the Terraform state when it is not needed.

An example of the resource is here https://github.com/terraform-providers/terraform-provider-consul/pull/110#issuecomment-496969031.

Let me know if you want to contribu

[2019-06-27 13:48] remilapeyre commented on #88
The Terraform 0.12 finally happened with the v2.5.0 release :)

[2019-06-27 13:48] #88 closed

[2019-06-28 13:16] randomswdev commented on #126
I can work on this next week, impmeneting a data source as you suggested above. Let me know if this plan is fine for you.

[2019-06-28 13:20] randomswdev commented on #125
Ok, I can work on this next week implementing a resource as the one you described:
[code]

Regarding you concern related to differentiating between:

[code]

and

[code]
I don't think we can differentiate between the two syntaxes, but I can investigate it.

Let me know if this plan is ok for you.

[2019-06-28 20:51] remilapeyre commented on #125
Thanks.

I will look into this too. We need to be able to differentiate between the two syntaxes or to come with another syntax as it would change the behavior of `consul_acl_token` otherwise.

[2019-07-05 02:45] lawliet89 opened #129 "Configurable Behaviour for `consul_key_prefix`"
### Affected Resource(s)

- `consul_key_prefix`

I was thinking of submitting a PR to add additional configurable behaviour for the `consul_key_prefix` resource. Before I do that, i wanted to ask the maintainers to see if this is desireable.

- Currently, `consul_key_prefix` will error if there are existing keys in the prefix. I was thinking of adding a boolean attribute `ignore_existing_keys` or

[2019-07-05 12:56] remilapeyre commented on #129
Hi @lawliet89, thanks for opening an issue!

Regarding `delete_existing_keys`, it is already possible to achieve this behavior as you can import `consul_key_prefix` resources:

[code]

If you want to `ignore_existing_keys`, it seems to me that the `consul_keys` resource should do exactly this. Let me know if not.

Regarding `delete` I think, though I'm not sure, that it is present in `consul_keys`

[2019-07-10 02:31] lawliet89 commented on #129
Thanks for the reply @remilapeyre

I am currently running Terraform applications through our CI/CD and I would rather be able to perform all these operations through a single `apply` operation.

My use case is this:

- I have an application whose configuration is templated via Consul Template
- When I deploy a new revision of the application via a rolling update mechanism in Nomad/Kubernetes, I wo

[2019-07-10 08:23] marimp opened #131 "[doc] The attribute "meta" is not documented in "consul_service" resource"
# Affected Resource(s)
Please list the resources as a list, for example:
- consul_service

### Expected Behavior
The 'meta' attribute was recently added to the consul_service resource issue #122 but it is not present in the related documentation (service.html.markdown)

Thanks
Regards

[2019-07-10 08:30] marimp opened #132 "datasource consul_service does not export attribute "meta""
Hi there,

### Affected Data Source
- data_source_consul_service

### Expected Behavior
The attribute "meta" should be exported in the data source "data_source_consul_service":
[code]
### Actual Behavior
The attribute "meta" was recently added to resource consul_service in issue #122 but it is not implemented in the related datasource.

If you agree I can implement this feature.

Great Thanks
Rega

[2019-07-29 09:37] #123 closed

[2019-07-30 08:33] marimp opened #134 "query_options are not read"
Hi there,

### Terraform Version
Terraform v0.12.0

### Affected Resource(s)
consul/data_source_consul_services
consul/data_source_consul_nodes
consul/data_source_consul_service

### Expected Behavior
The query_options should be read correctly

### Actual Behavior
The "query_options" attributes are not read because they are wrongly read.
In particular the method `getQueryOpts` in `query_options.go

[2019-07-30 09:47] remilapeyre commented on #134
Thanks 👏

[2019-07-30 09:47] #134 closed

[2019-07-30 10:04] remilapeyre commented on #129
Hi @lawliet89 this is a really interesting use-case, I'm not sure how I would approach it. If you want to keep the ownership and the history, do you think something like

[code]

would work? As long as you keep the resource, the keys will stay and the old one will be removed when you update `var.revision[...]`.

[2019-07-30 10:05] remilapeyre commented on #132
Hi @marimp, this is a nice addition and your commit looks correct. Can you open a new PR with it?

[2019-07-30 10:21] remilapeyre commented on #112
Thanks @StuporHero for the PR!

[2019-07-30 10:21] #112 closed

[2019-07-30 10:30] #131 closed

[2019-07-30 10:30] remilapeyre commented on #131
Thanks for reporting this @marimp !

[2019-07-30 10:31] #119 closed

[2019-07-30 11:13] #37 closed

[2019-07-31 11:35] #125 closed

[2019-08-05 02:03] lawliet89 commented on #129
Thanks for your suggestion.

The issue I see with the approach you suggested is that I would have to keep the various configuration revisions in `var.revisions` which is not ideal. I would rather have one set of configurations only.

[2019-08-07 09:49] randomswdev commented on #126
I think this can be closed now that pull request #137 has been merged.

[2019-08-07 09:49] #126 closed

[2019-08-19 22:20] hashibot[bot] opened #139 "Add support for consul_acl_role"
_This issue was originally opened by @spuder as hashicorp/terraform#22515. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Terraform is able to manage

- `consul_acl_policy`
- `consul_acl_token`

In consul 1.5, a new primitive 'role' was added.

Add support for

-

[2019-09-03 15:30] remilapeyre commented on #139
Hi @spuder, thanks for opening an issue, this was implemented in a1b17bcf4dbe1e5911faa59aba1150001310a12b which will be in the next release :)

[2019-09-03 15:30] #139 closed

[2019-09-05 10:18] randomswdev opened #146 "Handling services that Consul has deregistered"
### Terraform Version
0.12

### Affected Resource(s)
consul_service

### Terraform Configuration Files
[code]
### Error Output
[code]

### Actual Behavior
If the service goes into the critical state, Consul deregisters it after the interval defined in `deregister_critical_service_after `. If this happens, when running again terraform, it outputs an error because the service is defined in the state

[2019-09-05 10:42] remilapeyre commented on #146
Hi @randomswdev, can you run `terraform version` to see what version of the provider you are using?

[2019-09-05 11:22] randomswdev commented on #146
We use a Consul provider built from the master branch because we need some features/fixes that have been included in the master branch but are not available in version v2.5.0.
[code]
We built the provider about a week or two ago, using the source code avialble at that time in the master branch.

[2019-09-05 11:31] remilapeyre commented on #146
I just tried with master (64de0bb68fde35178b2a2f23db38da6ad7a5212e) and it seems to work:

[code]

Did I miss something to reproduce the issue? We used to have a bug like this but it's supposed to have been solved in 194fff3da96f712902c9dfdcb6e8ea9a354bcc37.

[2019-09-05 15:47] randomswdev commented on #146
I provided an example that was too simple 😄

I finally produced the issue using the following fragment of terraform:
[code]

If you deregister one node and issue again the terraform command, terraform will complain that it is not able to refresh the service.

The difference here is that the same service is defined on two nodes: if you delete a node, the service still exists, but no longer exists o

[2019-09-05 16:06] remilapeyre commented on #146
Yes, this is a mistake. Could you confirm that #147 fixes the issue for you?

[2019-09-06 13:35] randomswdev commented on #146
The fix worked for me. Thank you very much @remilapeyre

[2019-09-06 21:31] remilapeyre commented on #146
Thanks for the info :)

[2019-09-06 21:31] #146 closed

[2019-09-17 08:55] randomswdev commented on #132
@remilapeyre I see you have created a pull request for this (and it seems ok to me). Do you have any idea when this change will likely be committe din master? And any idea of when a new version of the provider will be released?

[2019-10-03 17:16] spuder commented on #139
Is there a planned release date for consul_acl_role ?

[2019-10-12 04:40] spuder commented on #123
Implemented here: https://github.com/terraform-providers/terraform-provider-consul/issues/139

Just waiting on to 2.6.0 release.

[2019-10-13 21:02] spuder opened #151 "2.6.0: consul_acl_role returns error: UUID must be 36 characters"
I am testing out the new `consul_acl_role` which is set to be released in 2.6.0. I find that it is unable to create any roles.

### Affected Resource(s)
- consul_acl_role

### Terraform Configuration Files
[code]

### Debug Output

[code]
[code]

### Steps to reproduce
Create a 2.6.0 plugin that includes commit https://github.com/terraform-providers/terraform-provider-consul/commit/a1b17bcf4dbe1e5

[2019-10-13 21:04] spuder commented on #139
I just tried consul_acl_role but find it errors with output
[code]

Opened new bug ticket to track
https://github.com/terraform-providers/terraform-provider-consul/issues/151

[2019-10-13 21:17] spuder commented on #151
I've tried using the id, instead of the human readable name for the role as shown here:

https://github.com/terraform-providers/terraform-provider-consul/commit/a1b17bcf4dbe1e5911faa59aba1150001310a12b#diff-27634edbe10610cafb7cd46b99b685e1R23-R34

[code]

However now it returns a different error:

[code]

To solve that error, I need to put all dependent resources in the same file. Thats a problem

[2019-10-16 02:32] spuder commented on #151
I solved this by moving all resources into a single file.

[2019-10-16 02:32] #151 closed

[2019-10-16 08:27] remilapeyre commented on #151
Hi @spuder, thanks for opening the issue.

If I understand correctly I think what would help you is a `consul_acl_policy` datasource, is that right?

[2019-10-16 22:27] spuder commented on #151
Possibly. I’m just getting started with terraform. I spent a day trying to create a data module so that two child modules could reference values in each other, but it proved to be too complicated for my little infrastructure and I couldn’t get it working

[2019-10-17 15:13] jacobfoard opened #152 "Can a release (2.5.1?) be cut with #137"
Hi there, I don't have any issues with the provider itself, but last release was in June and there's been a couple PRs.

I'm specifically interested in #137, but I'm sure there's other people interested in some of the other great things that have been added since then.

Anyway I can help in the getting a version out the door, I'd love to contribute some.

[2019-10-17 15:40] remilapeyre commented on #152
Hi @jacobfoard, we plan to do a release in the next days, changes to ACL resources and config entries are much awaited for.

Thanks so much for this :) . I have a bit of work to do in https://github.com/terraform-providers/terraform-provider-consul/pull/127 but reviewing the other PRs would be helpful !

[2019-10-20 16:33] remilapeyre commented on #132
Hi @randomswdev, I plan to make a new release in the next days.

[2019-10-20 16:33] #132 closed

[2019-10-20 16:34] #101 closed

[2019-10-20 16:35] #87 closed

[2019-10-25 17:28] #152 closed

[2019-10-31 14:52] #48 closed

[2019-11-01 16:30] #4 closed

[2019-11-11 06:15] multani opened #159 "Add the possibility to mark specific keys/values as "sensitive""
### Terraform Version

[code]

### Affected Resource(s)
Please list the resources as a list, for example:

- `consul_keys`
- `consul_keys_prefix`

### Terraform Configuration Files
[code]

### Expected Behavior

Some values may contain sensitive data that should not be displayed and it would be nice if there was a way to mark a specific key content as "sensitive".

I know using Vault to store this

[2019-11-14 22:21] kpettijohn opened #160 "Provider produced inconsistent result after apply"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- `consul_acl_policy`

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention

[2019-11-15 16:45] remilapeyre commented on #160
Thanks @kpettijohn, this is indeed an issue. I made some tests and I find Consul's behavior weird with policies and multiple datacenters.

I'll keep you updated and hopefully post a fix shortly.

[2019-11-15 17:00] remilapeyre commented on #159
Hi @multani, this can indeed be an issue. I raised your concerns internally, the Terraform Core team is currently looking into improving using secrets in Terraform, both to hide them and encrypt them in the state.

While this is being worked on, I would like to avoid marking `consul_key` and `consul_keys` as sensitive since they are mostly used for non-sensitive configuration and seeing them in pl

[2019-11-15 17:18] multani commented on #159
Ideally, this could be turned on/off on a per-key basis. There's definitively value to see the non-sensitive configuration in the plan, but I also know in our configuration which specific keys should be marked as such.

So I think what I'm looking to is "just" a way to mark specific entries as sensitive and hid them from the plan, while leaving the rest out.

Although improving how secrets are gen

[2019-11-15 22:27] remilapeyre commented on #159
Yes, but this cannot be done with the Terraform SDK at the moment, this feature needs to be added to Terraform first.

[2019-11-18 14:22] multani commented on #159
Thanks @remilapeyre , I had a look and I thought it was indeed already supported but I realized my request was a bit different from the other "sensitive" field I saw in providers in the past. I overlooked that aspect :)

I still think it's a valid feature request but we'll try to work around with the compromising solution you proposed in the meanwhile :)

[2019-11-19 10:31] remilapeyre commented on #159
Yes, definitely. I can't give you a timeline on this but will keep this issue open so I don't forget it.

[2019-11-19 16:52] SarahRiley opened #162 "consul_keys resource updated in-place deletes and recreates unchanged keys, making plans hard to read"
This is new in terraform 0.12.  In 0.11, consul_keys showed updates of key values on change, and kept both the other parts of that key block, and other key blocks as is, showing no changes to be made.  In terraform 0.12, the plan shows all keys get deleted and re-added, making it difficult to work out precisely what has changed.

### Terraform Version

0.12.13

### Affected Resource(s)
Please list

[2019-12-02 14:28] fewknow opened #163 "Timeout and TF_LOG=TRACE showing nothing."
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.12.4

### Affected Resource(s)
consul_acl_policy

### Terraform Configuration Files
[code]

### Debug Output
NA

### Expected Behavi

[2019-12-02 15:38] remilapeyre commented on #163
Hi @fewknow, thanks for opening an issue. It looks like you are using the `remote` backend which means that operations like `plan` and `apply` are ran from the terraform.io infrastructure but your Consul server is in the 10.0.0.0/8 IP block which is private, so not accessible from Internet and terraform.io despite being accessible from your computer.

You won't be able to use terraform.io to manag

[2019-12-02 20:53] #163 closed

[2019-12-04 10:38] remilapeyre commented on #162
Hi @SarahRiley, Terraform 0.12 changed the way it compares `null` for missing values and empty strings. #164 should fix that.

[2019-12-04 10:41] #1 closed

[2019-12-04 10:41] #63 closed

[2019-12-04 10:42] #162 closed

[2019-12-04 14:51] rnsc opened #165 "Cannot create a consul key/value with an actual empty string"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]

### Affected Resource(s)
- consul_keys

### Terraform Configuration Files
[code]
The above script is an extract of my Terraform module.
I

[2019-12-04 23:12] remilapeyre commented on #165
Thanks @rnsc, this is a bug that dates from the time when `consul_keys` could be used as a datasource. A `name` attribute and an empty value meant that the key should not be created but its value read from the KV store.

Apparently the case where a key with an empty value needed to be created had not been considered, #166 should fix this.

[2019-12-05 07:04] melo commented on #1
@remilapeyre Just to be clear: this issue is being closed because #60 covers this request?

[2019-12-05 08:26] rnsc commented on #165
@remilapeyre , thanks for the quick response.
Was wondering though, how fast will this provider be released with a new version fixing this?

[2019-12-05 08:51] remilapeyre commented on #1
Yes, I think it solves the issue but we can reopen the issue if something is missing.

[2019-12-05 15:34] remilapeyre commented on #165
I'm working on fixing #160 and hope to make a release after that.

[2019-12-05 21:44] remilapeyre commented on #160
Hi @kpettijohn, I think I found multiple ways to trigger this bug.

Can you give more information your Consul cluster? Do you have only one datacenter named `mydc` or do you have multiple datacenters and are trying to create the policy in `mydc`?

[2019-12-05 22:18] kpettijohn commented on #160
In my case I only have one datacenter (`mydc`) with policies enabled and I am attempting to create a new policy in `mydc`. Let me know if you need anything else and thanks for digging into this issue!

[2019-12-05 22:25] remilapeyre commented on #160
Since the provider did not correctly checked the error response from Consul, we lack some info. Can you try running:
[code]

[2019-12-06 00:16] SarahRiley commented on #162
Thanks!

[2019-12-06 16:47] kpettijohn commented on #160
Here is the output from the command above.

[code]

I added the following flags `-X PUT --http2` which returns the following.

[code]

Running the curl again after the first 200 success returns the following error.

[code]

[2019-12-06 16:57] remilapeyre commented on #160
Can you remove the policy `node-read` and try again?

[2019-12-06 17:36] kpettijohn commented on #160
Removing the policy allows me to create it again.

[code]

[2019-12-06 18:03] remilapeyre commented on #160
Does
[code]
let you read the policy properly?

[2019-12-06 18:13] kpettijohn commented on #160
It does seem to let me read the policy.

[code]

[2019-12-06 18:16] remilapeyre commented on #160
This is weird, those two calls, the `PUT` then the `GET` are exactly what Terraform is doing, it seems that reading the policy from Consul fails but doing it manually seems to work and I did not manage to reproduce the bug on my computer.

Can you send your Consul configuration file with the secrets removed? Maybe my configuration differs from yours.

[2019-12-06 18:18] remilapeyre commented on #160
Maybe this depends on the Consul version we are running. Which one are you using?

[2019-12-06 18:27] kpettijohn commented on #160
I am running `Consul v1.6.1` on all clients and servers.

Server configuration:
[code]

[2019-12-06 21:09] kpettijohn commented on #160
After looking into things I bit more I added a log statement to the [resource consul_acl_policy](https://github.com/terraform-providers/terraform-provider-consul/blob/master/consul/resource_consul_acl_policy.go#L86) and I now see the following error from Consul.

`500 (No path to datacenter)`

[code]

[2019-12-06 21:30] remilapeyre commented on #160
Did you added that in `resourceConsulACLPolicyRead()` at line 87? The error check is not precise enough, this error should have been returned. Still, this error should not happen in the first place.

I can reproduce the bug with multiple datacenters and this is the error message I get too.
This is why I asked you whether you had multiple datacenters, but It seems you have only one. Is it possible

[2019-12-06 21:35] kpettijohn commented on #160
OK I think I found the issue and it seems that it might just be a bad configuration on my end. Overall I had a typo in the datacenter name on the consul provider configuration which allowed it to create the policy but when reading it back it would error as the DC didn't exist. Thanks for your help tracking things down @remilapeyre!

[2019-12-06 22:46] #160 closed

[2019-12-06 23:45] #165 closed

[2019-12-09 03:49] lachlancooper commented on #165
Thanks for the fix! Just wanted to note that I'm still seeing an issue with empty string values in provider version 2.6.1.

While the keys are created as expected and all works well if there are no other changes to apply, any keys with empty strings show up in the `plan` output if there are changes to apply to different keys in the same `resource`. For example:

[code]

I'm able to reproduce this

[2019-12-09 10:01] remilapeyre commented on #165
I can reproduce this too, this is because the `value` attribute is marked as `Computed` so Terraform get confused, as it's unset it expect to read a new value for it from the server. I don't think we can improve that without removing the possibility to read keys using the `consul_keys`, which is deprecated but still work.

In my test, the end result was correct and `configuration/global/env_vars/U

[2019-12-12 03:33] tmy opened #169 "Imported consul_key_prefix resource causes force replacement"
### Terraform Version

[code]

(Consul version: v1.6.1)

### Affected Resource(s)

- consul_key_prefix

### Terraform Configuration Files

[code]

### Steps to Reproduce

[code]

[code]

[code]

### Expected Behavior

No changes

### Actual Behavior

[code]

[2019-12-14 00:16] judithpatudith opened #170 "[doc] Google analytics tag interferes with env var link"
### Description
At the bottom of the [docs front page](https://registry.terraform.io/providers/hashicorp/consul/2.6.1/docs) the link to Consul's environment variable documentation is broken.

### Expected Behavior
I expected to go here:
https://www.consul.io/docs/commands/index.html#environment-variables

### Actual Behavior
Google Analytics added a tracking tag that got between URL and anchor lin

[2019-12-16 10:26] remilapeyre commented on #170
Hi @judithpatudith, the link looks fine at https://www.terraform.io/docs/providers/consul/index.html, is this a bug in our documentation or in the way the docs at https://registry.terraform.io/providers/hashicorp/consul/2.6.1/docs are made?

[2019-12-16 12:35] remilapeyre commented on #169
Thanks for reporting this issue @tmy, #171 should fix this :)

[2019-12-16 22:16] judithpatudith commented on #170
Hey @remilapeyre, yup the link would be fine if Google Analytics didn't add the tag. This is probably the wrongest spot for me to have filed this bug, but if you wanted to fix the link, for now, the thing to do would be to remove the `#environment-variables` section tag.

I bet we use anchor links a bunch of places in the registry docs, so there should be a broader fix for those links. I'll ask ar

[2019-12-17 09:55] remilapeyre commented on #170
I'm not sure if just removing the tag will work, the docs at https://registry.terraform.io/providers/hashicorp/consul/2.6.1/docs are built for each version so it must be built based on the corresponding git tag, right?

[2019-12-20 09:50] judithpatudith commented on #170
🤦‍♀️ Yup!

[2020-01-02 17:26] judithpatudith commented on #170
This is fixed 🎉 Closing the issue.

[2020-01-02 17:32] findkim commented on #170
Hi! I dug into this a bit more and turns out this is a Terraform Registry bug in how the links were processed before rendering the Markdown.

The broken link is due to the improperly removed `.html` extension from the page slug `index.html`.
* https://www.consul.io/docs/commands/index?&_ga=2.165668351.1566802157.1576266579-2016951225.1550608660#environment-variables
* https://www.consul.io/docs/co

[2020-01-02 17:32] #170 closed

[2020-01-03 14:36] tryan225 opened #172 "Adding a License Resource for Consul Enterprise"
This is a feature request to add the ability to [update an Consul Enterprise clusters license](https://www.consul.io/api/operator/license.html#updating-the-consul-license) with this provider.

Other use cases could be:
- [resetting the consul license](https://www.consul.io/api/operator/license.html#resetting-the-consul-license)
- [getting the Consul license](https://www.consul.io/api/operator/lice

[2020-01-06 14:24] remilapeyre commented on #172
Hi @tryan225, I implemented this in https://github.com/terraform-providers/terraform-provider-consul/pull/173 but I don't have a Consul Enterprise license so I can't test it right now. I will look into how to test this resource now.

[2020-01-13 13:52] #172 closed

[2020-01-30 14:56] carr-disco opened #177 "Error during apply when a : `diffs didn't match during apply.`"
I'm receiving an error on `terraform apply` with the output: `This is a bug with Terraform and should be reported as a GitHub Issue.`.  The problem resolves itself on subsequent applies.  This is not urgent, but serves as documentation for anyone who encounters the same.

### Terraform Version
Terraform: 0.11.7
terraform-provider-consul: 2.6.1

### Affected Resource(s)
- consul_key_prefix

### Ter

[2020-02-05 18:20] ltagliamonte-dd opened #178 "Assign ACL token to role"
The current consul_acl_token resource doesn't allow to assign a token to a role.

Only policies seems supported https://www.terraform.io/docs/providers/consul/r/acl_token.html

Using the cli is it possible to create a token and assign it to a role:
[code]

Are there any plan to add this? or any workaround?

[2020-02-12 15:17] remilapeyre commented on #178
Hi @ltagliamonte-dd, thanks for the remainder, we forgot it when adding `consul_acl_token`.

I just opened a PR with it.

[2020-03-13 20:18] mleonhard commented on #74
I filed #24373 . :)

[2020-03-23 18:56] tmdNinja opened #186 "acl policy and token keep being re-created"
Hi,

I've been using TF to create consul ACL policy and tokens.
I have set the token property in the provider.

I am experiencing consistency issues.
When i run TF for the first time, it creates the policy and token.
I can validate it when I ssh into the consul server and with using the master token I can see the newly added policy and token.

When I run apply again TF wants to create the token an

[2020-03-24 10:19] remilapeyre commented on #186
Hi @tmdNinja, can you try with the version 2.6.1 ? We fixed a bug related to the ACL in this one: https://github.com/terraform-providers/terraform-provider-consul/commit/39aba055fead64532d954ad9d57555c71cb25cf4.

If the problem persists, can you make sure that the token Terraform is using to connect to Consul has permissions to see both the policy and the token?

[2020-03-24 10:23] tmdNinja commented on #186
@remilapeyre thanks for the quick response.
Yes I will try to upgrade to 2.6.1
This problem happened even when I used the master token.

[2020-03-24 10:53] tmdNinja commented on #186
@remilapeyre
when upgraded to 2.6.1 I get this error:
Error: Failed to read policy 'b1afe14d-533f-224d-bfac-6c611b918347': Get http://localhost:28555/v1/acl/policy/b1afe14d-533f-224d-bfac-6c611b918347?dc=prod: dial tcp [::1]:28555: connect: connection refused

I'm using a tunnel from my pc at port 28555 to consul at 8500.
also when I copied the request
to the browser - I got 403
once I added ?toke

[2020-03-24 12:08] remilapeyre commented on #186
What is the response of `curl -H 'X-Consul-Token: <master-token>' http://localhost:28555/v1/acl/policy/b1afe14d-533f-224d-bfac-6c611b918347?dc=prod`?

[2020-03-24 17:41] tmdNinja commented on #186
@remilapeyre as it should.
I get the policy.

I cant explain why this has happened.
Today after that glitche happened it worked fine.
seems that the upgrade to 2.6.1 really did the trick.

[2020-03-24 17:58] remilapeyre commented on #186
Do you have a multi-center deployment and if not are you sure all your servers are in the `prod` datacenter? Have you set the `datacenters` attribute on the `consul_acl_policy`?

If it happens again let me know, I will try to reproduce the issue with your configuration.

[2020-03-25 19:04] vector623 opened #187 "Healthchecks created via Terraform do not work"
### Terraform Version
[code]

### Affected Resource(s)
- consul_service

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/vector623/d193f3292790bf7f1119c57bafd4e561

### Expected Behavior
Health check should execute successfully.  If it fails, it should not deregister for 90 minutes.

### Actual Behavior
Health check fails and deregisters within a minute.

### Ste

[2020-03-25 23:04] remilapeyre commented on #187
Hi @vector623, thanks for opening this issue, it seems that the health-check may not be the problem as the issue still appears when I try without it.

I will investigate and let you know what I found.

[2020-03-26 18:47] #178 closed

[2020-03-26 18:56] #169 closed

[2020-03-30 21:10] remilapeyre commented on #187
Hi @vector623, we've looked and I think you are trying to register a service on a node where a Consul agent is running (an internal service). The `consul_service` resource was created to register external services and adds the service to the Consul catalog but not to the local catalog of the agent. When the agent perform the anti-entropy syncs, it finds a service in the catalog it knows nothing ab

[2020-04-06 23:07] frederikbosch commented on #95
Is there someone aware of a valid workaround? `data "external"{}` is re-run every time. Bootstrapping only needs to be executed once.

[2020-04-22 17:34] Crizstian opened #191 "consul_config_entry: Unexpected response code: 400"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.12.23
+ provider.consul v2.7.0
+ provider.null v2.1.2
+ provider.vault v2.10.0

Your version of Terraform is out of date! The latest

[2020-04-22 18:16] remilapeyre commented on #191
Hi @Crizstian, thanks for opening a bug report! I tried to reproduce the issue but could not. Here's the configuration I used:

[code]

Your configuration is not complete, can you post a complete example?

Also, what is your Consul version?

[2020-04-22 18:24] Crizstian commented on #191
thanks for quick response @remilapeyre

but this is my full config for service-defaults
[code]

but if you want to take a look at the whole implementation you can see it here: https://github.com/Crizstian/cinema-microservice-in-GO/blob/step12-multi-vm-cluster/deploy/hashicorp/provision/terraform/tf_cluster/primary/main.tf

and this is my consul version:
Consul v1.6.1

[2020-04-22 19:40] remilapeyre commented on #191
Thanks, just tested it and the issue is that we are sending the `Expose` field which is in the `service-defaults` configuration entry in 1.7.

The provider is only tested with the latest version of Consul, from the README:

Here the field is sent by the Consul SDK so there is not much we can do. If possible you should upgrade Consul to 1.7.2 and the issue will disappear.

[2020-04-22 19:58] Crizstian commented on #191
tested with Consul 1.7.2 and it works properly, the weird thing is that other config entry types works properly with Consul 1.6.1 the only one is service-defaults, but this got fixed with the latest consul version.

Thanks

[2020-04-22 19:58] #191 closed

[2020-04-28 12:15] remilapeyre commented on #95
Hi @frederikbosch, we don't have a satisfactory way to securely bootstrap the ACL support without the master token ending up in the Terraform state in plaintext.

Storing secrets in the Terraform state is a complicated issue, you can read more about it here : https://github.com/hashicorp/terraform/issues/516

Did you try using a provisioner (https://www.terraform.io/docs/provisioners/local-exec.ht

[2020-04-29 00:46] cbroglie opened #192 "consul_prepared_query doesn't support NodeMeta or ServiceMeta fields"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
- consul_prepared_query

### Expected Behavior
Consul allows prepared query templates to match using `NodeMeta` and `ServiceMeta` fields, but the Terraform resource isn't aware of them. See https://godoc.org/github.com/hashicorp/consul/api#ServiceQuery.

### Actual Behavior
The Terraform resource is [unaware of these fields](https:/

[2020-04-30 13:34] remilapeyre commented on #192
Hi @cbroglie, thanks for bringing that to my attention :)

https://github.com/terraform-providers/terraform-provider-consul/pull/193 should add the missing attributes you are looking for.

[2020-04-30 13:35] frederikbosch commented on #95
@remilapeyre Exactly, I understand. I used `local-exec` indeed, combined with `remote-exec` to create policies, tokens and apply directly on the remote machines. I did that for Consul, Vault and Nomad. This did have the downside that the tokens ended-up in my (encrypted) remote S3 state. This is not a preferred solution, as indicated in the linked thread. However, manual bootstrapping is also not

[2020-05-01 05:49] cbroglie commented on #192
Thanks!

[2020-05-01 16:18] #192 closed

[2020-05-19 17:37] crizstian opened #194 "Consul Intentions not working"
### Terraform Version
root@sfo-consul-server:/vagrant/provision/terraform/tf_cluster/primary# terraform version
Terraform v0.12.24
+ provider.consul v2.7.0
+ provider.null v2.1.2
+ provider.vault v2.10.0

### Affected Resource(s)
Please list the resources as a list, for example:
- consul_intention

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so ple

[2020-05-19 22:36] remilapeyre commented on #194
Hi @Crizstian, can you post the result of both `curl http://127.0.0.1:8500/v1/connect/intentions` both when you create the Consul intentions using Terraform and manually?

[2020-05-19 22:52] Crizstian commented on #194
this is the result from manual created intentions

[code]

with the terraform provider
[code]

[2020-05-20 14:45] remilapeyre commented on #194
The intentions differ from when you create them manually but the definition of the `intentions` local in the Terraform code is missing. Are you sure the `booking-api` intention is in it?

[2020-05-21 01:52] Crizstian commented on #194
so I have spin up a new fresh consul cluster I execute the following commands in that order

[code]

- here you can see that I have deployed first my applications
- then I have deployed my intentions with the consul terraform provider
- query the specified url and get the result from consul which indeed are created and are displayed in the consul ui

then I have made the test, to try to reach my s

[2020-05-21 08:58] remilapeyre commented on #194
Can you post the Terraform code you are using in this tests, I will try to reproduce this.

In the first part of your example, the 4 intentions seems to be correctly created by Terraform but none of them allows the service `booking-api` to contact `payment-api`.

When you destroy those 4 intentions and create some intentions that allows `booking-api` to contact `payment-api` it seems to work. Am I

[2020-05-21 16:19] Crizstian commented on #194
that's correct, when I destroy the intentions and create it again but directly in consul, connectivity works.

this my terraform code

[code]

[2020-05-26 20:37] matthiasng opened #197 "[Feature] resource "consul_node_token""
It would be nice to have better ACL support for the bootstrap phase.

In #95, remilapeyre already pointed out the problem of `consul acl boostrap`.
Apart from the problem of managing the acl bootstrap command, there is no way to set a terraform managed token, as agent default/agent/master token.

It is already possible to set agent tokens with `v1/agent/token/[default|agent|agent_master|replicatio

[2020-05-26 20:54] remilapeyre commented on #197
Thanks, I see what it does now. I think it may be complicated to accept a resource that does this thought:

First the token is specific to each agent so I think the `consul_node_token` would need to be repeated for each agent in the cluster and each one of them would need to be able to be contacted by Terraform which is not always possible (all other resources are set globally in the cluster by ma

[2020-05-26 21:00] remilapeyre commented on #194
Are you sure the `booking-service` in `source      = "booking-service"` should not be `"booking-api"` instead?

[2020-05-26 21:29] matthiasng commented on #197
That is something I havent thought about. I work with a small cluster where I have access to all the nodes, so that is no problem for me, but I think you are right.

This souldn't be a problem. In my draft the resource only accepts accessor_id's. Of course, your provider token requires access to resolve the accessor_id to a secert_id. This way i can set the secert_id, without writing it to the sta

[2020-05-27 11:44] remilapeyre commented on #197
While it won't be useful in many deployment, I understand that I can be very useful in some cases so I guess it's a legitimate resource.

Oh right, that's good news.

You can set `Update` to `nil` since thee resource won't be updatable, doing nothing in `Read` and `Delete` could be acceptable. Some other resources like `aws_db_instance` do set some of there fields when reading, I don't know if som

[2020-05-28 16:16] Crizstian commented on #194
My appologies, I had the wrong name for booking-api to allow the intentions to work; with proper name my consul intentions created with terraform is working now;

but still I am having problems with the consul provider, for the consul central config it is not working as expected, the `service-defaults` and the `service-resolver` are not properly configured or perhaps I am having a typo or missing

[2020-05-28 17:12] matthiasng commented on #197
I have done some futher testing based on your suggestions and i like the result.
With an additional `address` field, it's possible to manage all agent tokens in less than 30 lines.

Example:
[code]

I also thought about the problem you metioned, that every consul agent must be contacted by Terraform.
Im interested in considering this. It's no problem for my current cluster, but as soon as we move

[2020-05-28 18:59] remilapeyre commented on #197
I don't think you can support every use-cases here. Consul support sparse connectivity (https://www.consul.io/docs/enterprise/federation) for weird network topologies that will be complicated to support.

What do you have in mind?

[2020-05-28 19:12] remilapeyre commented on #194
Hi @Crizstian, I'm glad it was just a typo.

For the second issue, can you post a short configuration that reproduce the problem? or if you can't reproduce the issue with a short example, can you post all the configuration with the modules and the variables?

It's difficult to find what's wrong without applying the configuration to make tests.

[2020-05-28 19:32] matthiasng commented on #197
Maybe a bit to much.

I thought about something like:
[code]

[2020-05-28 20:42] matthiasng commented on #197
As soon as a new agent starts (acl: enabled, no agent token configured), it will be register as new consul member.

[code]
Joining nodes is handled by Serf. And i think Serf is ACL indepentent ? Also note the `Permission denied` sync error.

As soon as the node knows a server, we can call `v1/agent/token/...` with, for example, our global management token. The token sould have a policy with `node_

[2020-06-01 13:28] remilapeyre commented on #197
I was wrong, I just tried on a test cluster and even with the ACL to `deny` and the client can register. That's a bit weird I think, doesn't it mean that anybody can try to masquerade as a client?

It looks like there is a lot of changes coming in this space in the next months, we should probably wait before merging anything. In the meantime you should probably be able to use the resource you wrot

[2020-06-02 12:50] matthiasng commented on #197
I have updated the PR (tests are missing).

I also added some docs just in case someone else want to use the provider until consul is ready to implement a better solution.

That's a bit weird I think, doesn't it mean that anybody can try to masquerade as a client?

I totally agree. It also looks like `1.8 beta` behaves differently. Nodes are visible through the UI but the catalog API doesn't retur

[2020-06-06 15:44] remilapeyre commented on #76
Hi @PurrBiscuit, since it looks like this issue never happened again I will close it. Please reopen it if needed.

[2020-06-06 15:44] #76 closed

[2020-06-06 15:46] remilapeyre commented on #2
Hi @failshell, it looks like this issue is stall so I'm going to close it. If you ever have troubles again please reopen it.

[2020-06-06 15:46] #2 closed

[2020-06-06 15:51] remilapeyre commented on #3
Hi @jniesen I tried and it looks like this issue happens with an old version of Terraform and not with Terraform 0.12.

Since Terraform 0.11 is not maintained anymore I will close this issue, if you still have problems with Terraform 0.12 please open it again.

[2020-06-06 15:51] #3 closed

[2020-06-22 17:31] woz5999 opened #199 "Add support for Ingress Gateway config entries"
### Terraform Version
All versions

### Affected Resource(s)
- consul_config_entry

### Terraform Configuration Files
[code]

### Expected Behavior
No errors

### Actual Behavior
[code]

### Important Factoids
The specific error messages seems to be coming from the vendored hashicorp/consul api package. The current package has support for this config entry type, so I believe the provider just need

[2020-06-22 17:49] remilapeyre commented on #199
Hi @woz5999, Ingress Gateway are a new feature of Consul 1.8 that just got released. I'm still working on the integration of those features in the Terraform provider but I hope to be able to make a new release shortly :)

[2020-06-25 13:36] olegterasky opened #200 "When expanding the plan for consul_key_prefix to include new values learned so far during apply, provider "registry.terraform.io/-/consul" produced an invalid new value for .subkeys"
Hi
I am trying to write output to consul using resource "consul_key_prefix".
The value is output of module that creates among other things google_compute_region_instance_group_manager resource.

### Terraform Version
`terraform12 -v`
Terraform v0.12.20

### Affected Resource(s)
- consul_key_prefix

### Terraform Configuration Files

module kafka
------------

[code]

terraform config:
------------

[2020-06-27 22:07] remilapeyre commented on #200
Hi @olegterasky, thanks for reporting this issue. What version of the provider are you using? You can see this by running `terraform version` in the directory of your project.

Also can you reproduce this issue with a simpler example?

[2020-06-28 07:39] olegterasky commented on #200
Hi, Thanks for the response
the terraform version I am using is 12.20
The consul provider version is 2.8.0
I have deleted from above sample 0ome resources that irrelevant for the problem.
The issue is actually that I want to write the details of the environment I've created to consul and the consul resource I am using tries to do it before the environment was created therefor the values I need are

[2020-07-02 12:06] pbusko opened #207 "Unable to configure ClaimMapping/ListClaimMapping for JWT/OIDC auth methods"
Hello,

Due to fact that "config" attribute schema is TypeMap with simple string values it's impossible to provide nested map for ClaimMapping/ListClaimMapping required for JWT/OIDC auth methods

[code]

### Terraform Version
[code]

### Affected Resource(s)
- consul_acl_auth_method

### Terraform Configuration Files
[code]
### Expected Behavior
ClaimMappings/ListMappings should be configured prop

[2020-07-02 21:14] remilapeyre commented on #207
Thanks for the feedback @pbusko! I checked with the Consul team and since the new auth methods have a more complex configuration that the kubernetes one, we won't be able to manage them using the current `config` attribute.

To fix this, #208 adds a new `config_json` attribute that will send it's data directly to Consul without validating them. This will make it possible to use an arbitrary comple

[2020-07-02 21:43] remilapeyre commented on #200
It's difficult for me to test with the gcloud provider and it would be glad if you had an example that does not depends on it.

Could you try changing:

[code]

to

[code]
?

[2020-07-06 09:20] pbusko commented on #207
Thanks @remilapeyre!

Any estimate on when #208 will be released? We're heavily relying on this feature and currently have to use customised version of provider.

[2020-07-17 22:05] #207 closed

[2020-07-17 23:23] remilapeyre commented on #129
Hi @lawliet89, as Terraform resources usually don't have configurable behavior like this is not something that we plan to support in the provider.

If you still want to do this, I think you should be able to take a `consul_key_prefix` datasource, merge the result in `subkeys` with your current configuration and give that to a `consul_key_prefix` resource. This way you will only have the current co

[2020-07-17 23:23] #129 closed

[2020-07-17 23:25] remilapeyre commented on #177
Hi, sorry I've not responded earlier on this. I have tried to reproduced this but could not.

Can you provide a complete example with an AWS resource?

[2020-07-17 23:29] remilapeyre commented on #44
Now that the documentation references the Consul environment variable and since there has not been any new message on this issue for two years I think we can close it. @vchan2002 Thanks for bringing that up, please reopen the issue if needed.

[2020-07-17 23:29] #44 closed

[2020-07-17 23:34] remilapeyre commented on #10
It seems like we can close this issue as both `consul_agent_service` and `consul_catalog_entry` have now been deprecated for two years in favour of `consul_service`. If you think this is still relevant, please reopen the issue.

[2020-07-17 23:34] #10 closed

[2020-07-23 14:04] #199 closed

[2020-07-23 21:56] rejackson73 opened #211 "Documentation: "certificate_authority" should be "consul_certificate_authority""
The documentation for the certificate authority (https://www.terraform.io/docs/providers/consul/r/certificate_authority.html) identifies the provider name as "certificate_authority".  When you attempt to provision a resource with name "certificate_authority," the following error message appears:
[code]

The proper name for the resources is "consul_certificate_authority".

[2020-07-24 08:11] remilapeyre commented on #211
Hi @rejackson73, thanks for noticing this! We will update the website shortly.

[2020-07-24 08:14] #211 closed

[2020-08-06 17:46] tjrivera opened #213 "Consul Intentions do not support datacenter argument"
### Terraform Version
Currently running 0.12.18

### Affected Resource(s)
- consul_intention

### Terraform Configuration Files
[code]

### Debug Output
Please provider a link to a GitHub Gist containing the complete debug output: https://www.terraform.io/docs/internals/debugging.html. Please do NOT paste the debug output in the issue; just paste a link to the Gist.

### Panic Output
N/A

### Expe

[2020-08-06 17:50] remilapeyre commented on #213
Hi @tjrivera, I will add this and it should be available in the next release. In the meantime you should be able to set the `datacenter` on the provider definition and it should work.

[2020-08-06 18:51] tjrivera commented on #213
Hi @remilapeyre, thanks for the quick reply. It doesn't like this resource goes up the tree to find DC. I have a change in my branch that should do so: https://github.com/tjrivera/terraform-provider-consul/blob/issue213-consul-intentions-dc/consul/resource_consul_intention.go#L75-L83. Just getting approval from my work to make the contribution before submitting a PR :)

[2020-08-09 20:38] remilapeyre commented on #213
Thanks for looking into this. Your change looks mostly good, you can just use a call to `getDC()` as it already looks in the resource data if a `datacenter` attribute exists: https://github.com/terraform-providers/terraform-provider-consul/blob/376baf0515e57534cfd7c3cc887323b755464e54/consul/resource_consul_keys.go#L333-L352

Also, I don't think you update `resourceConsulIntentionUpdate()` and the

[2020-08-10 14:40] tjrivera commented on #213
Thanks @remilapeyre, `getDC()` is handy. I've made those changes on my branch. Still waiting for approval from my co to submit a PR. The MPL license is not sanctioned on our side, but we understand that it's used across HashiCorp products, and we'd like to be able to contribute, so we're trying to make it work. 👍

[2020-08-14 08:28] transferkraM opened #215 "CONSUL_HTTP_SSL environment variable not recognised?"
Hi there,

it seems the consul resource provider does not recognise CONSUL_HTTP_SSL environment variable.

Related issue from terraform: https://github.com/hashicorp/terraform/issues/23688
Initially I thought this was about terraform but it seems it's about the consul provider.

To be fully compatible with Ansible (consul_kv lookup plugin) I have to use the following environment variables:

[code]

[2020-08-14 20:22] wolfmd opened #217 "[Feature] new binding rule type "node""
**Terraform Version**

Terraform v0.13.0, provider.consul v2.9.0

**Affected Resource(s)**

consul_acl_binding_rule

**Enhancement**
Support for NodeIdentities [GH-7970](https://github.com/hashicorp/consul/pull/7970) was added in consul [1.8.1](https://github.com/hashicorp/consul/releases/tag/v1.8.1).

As a part of applying NodeIdentities to a login token, a binding rule needs to have the type of

[2020-08-14 21:15] remilapeyre commented on #217
Hi @wolfmd, thanks for reporting this. It was a mistake to validate the type in the provider, https://github.com/terraform-providers/terraform-provider-consul/pull/218 remove this and let Consul return an error if the type is not correct.

[2020-08-14 21:19] remilapeyre commented on #194
Hi @Crizstian, are you will having an issue with this?

[2020-08-14 21:47] wolfmd commented on #217
Great! Thank you for the super quick response

[2020-08-14 22:35] remilapeyre commented on #215
Well, thanks @transferkraM ! This took me far longer than it should have. We were using `"http"` for the default value of the `scheme` attribute and would always override the value we got from `CONSUL_HTTP_SSL`. Defaulting to an empty string is the correct behaviour here.

[2020-08-19 14:00] remilapeyre commented on #7
Given this issue occurred with an old version of Terraform and the provider and has not had activity since 3 years it is probably not relevant anymore.

@Alars-ALIT if you still have the issue, please reopen this bug report.

[2020-08-19 14:00] #7 closed

[2020-08-19 23:55] #213 closed

[2020-08-26 11:49] daktari opened #222 "[Feature Request] Support Intention imports"
Hi there,

Error: resource consul_intention doesn't support import

it would be awesome that we can import consul_intentions.

BR,

Javier

[2020-08-28 15:41] acornies opened #223 "Applying enterprise consul_license resource results in error"
While applying the `consul_license` enterprise resource, Terraform fails on read of the license schema. However, the license *does* get applied successfully according to Consul.

From what I can tell, this is due to a mismatched schema for some properties of the license response from Consul.

### Terraform Version
Terraform v0.13.1-dev (testing w/ unrelated salt-masterless changes on https://githu

[2020-08-29 12:08] remilapeyre commented on #223
Thanks for reporting this issue @acornies, I will have a look quickly.

[2020-09-01 16:28] wolfmd commented on #217
Any idea when this might be merged?

[2020-09-08 14:01] remilapeyre commented on #222
Hi @daktari, this is indeed missing for `consul_intention`. I just opened a PR that will fix this, thanks for the feature request.

[2020-09-12 22:11] #5 closed

[2020-09-14 20:00] #223 closed

[2020-09-14 20:00] #222 closed

[2020-09-14 20:00] #215 closed

[2020-09-14 20:00] #217 closed

[2020-10-02 13:12] ferrarimarco opened #230 "consul_key_prefix reports changes to apply even if it created the keys on the previous run"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

`Terraform v0.12.29`, `provider.consul v2.10.0`

### Affected Resource(s)

Please list the resources as a list, for example:
- consul_key_prefix

[2020-10-02 13:49] remilapeyre commented on #230
Hi @ferrarimarco, thanks for reporting this.

I tried to reproduce the bug but with no success:

[code]

How do you connect to the server? Is it possible that you were not in a consistent mode and got stale values during the read? This can happen when the leader change.

[2020-10-02 13:59] ferrarimarco commented on #230
Oh! This might be reassuring in a way :)

Which Consul version did you test against?

[2020-10-02 14:03] ferrarimarco commented on #230
More data points.

Here's how I'm configuring the provider:

[code]

Note that I'm loading the token from a Kubernetes secret. I don't know if it's related...

[2020-10-02 16:29] remilapeyre commented on #230
I did my tests with Consul 1.8.4, I don't think the token should have an impact unless the permissions are not correct. It does have permissions to read, write and list?

What version of Consul are you using?

[2020-10-02 16:35] ferrarimarco commented on #230
Yep, the token is fine. I'm using consul 1.8.2 (the one that ships by default with the helm chart).

Let me scan the Consul changelog for anything relevant between 1.8.2 and 1.8.4. Thanks!

[2020-10-05 13:17] ferrarimarco commented on #230
I tried calling the HTTP API with the same token, and I got:

[code]

[2020-10-05 13:26] remilapeyre commented on #230
Thanks for the feedback, it looks like so.

Could you share more information about your clusters, how many server do you have, what is their configuration, do you have a multi-cluster deployment or just one? I will try to make my test environment as close as yours.

Did it happened just once?

[2020-10-05 13:29] ferrarimarco commented on #230
Note: `ZmFsc2U=` = `false` in base64

I have a single Consul cluster with three server nodes running in Kubernetes, deployed with the [Consul helm chart](https://github.com/hashicorp/consul-helm). The chart configuration file is as follows:

[code]

The rest is default.

[2020-10-05 13:30] ferrarimarco commented on #230
PS: it continues to happen, even right now.

[2020-10-07 08:50] ferrarimarco commented on #186
@remilapeyre I have the very same issue. I have only one datacenter. Setting it in `consul_acl_policy` doesn't make any difference. Thanks!

[2020-10-07 09:13] ferrarimarco commented on #186
If I curl it, I get:

[code]

and the policy JSON description.

[2020-10-07 09:33] ferrarimarco commented on #186
In my case, upgrading to terraform 0.13.4 solved this issue.

[2020-10-07 09:35] ferrarimarco commented on #230
In my case, upgrading to terraform 0.13.4 solved this issue. Closing.

[2020-10-07 09:35] #230 closed

[2020-10-09 16:38] cageyv opened #231 "consul_config_entry - Problem with interpolating the name of the data center in the provider"
### Terraform Version
- Terraform v0.13.4
- provider.consul v.2.10.0

### Affected Resource(s)
- consul_config_entry

### Terraform Configuration Files
- Module config

[code]
- Main config
[code]

### Actual Behavior
`Error: Failed to fetch 'web' config entry: &errors.errorString{s:"Unexpected response code: 500 (No path to datacenter)"}`
and new entry in consul config. The record itself was crea

[2020-10-20 18:39] remilapeyre commented on #231
Hi @cageyv, I tried to run some tests with a development server (`consul agent -dev`) and could not reproduce the bug.

Are you sure the datacenter was correctly set, for example that there was no extra space as in `"dc1 "`?

[2020-10-20 21:16] cageyv commented on #231
Hi @remilapeyre, I have to try it again in my full setup. Maybe I was wrong somewhere between modules or maybe I need to provide more information for reproduce this bug

[2020-10-23 06:38] lawliet89 opened #235 "Support `service-intentions` Configuration Entry Kind"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2020-10-24 23:25] remilapeyre commented on #235
Hi @lawliet89, I opened https://github.com/hashicorp/terraform-provider-consul/pull/232/files to add the support for the `service-intentions` configuration entry.

In theory it should work properly and I could not find issues during my tests. I would like to wait for the actual release of the 1.9 API client (or at least a release candidate) since as you said Consul 1.9 is in beta for now.

I think

[2020-11-04 14:55] stokkie90 opened #237 "Changes in checks not detected in consul_service resource"
Changing values in the checks block are not detected.

### Terraform Version
[code]

### Terraform Configuration Files
[code]

### Debug Output
When chaging it into, no change is detected!:
[code]

### Expected Behavior
I expected a change off the check block. a destroy / create or update.

### Actual Behavior
Nothing

### Steps to Reproduce
Please list the steps required to reproduce the issue, f

[2020-11-04 20:57] remilapeyre commented on #237
Hi @stokkie90, thanks for reporting this issue.

I ran some tests but could not reproduce it, maybe I am not doing the exact same thing?

[code]

[2020-11-05 08:31] stokkie90 commented on #237
Ok continue on that.

run `terraform apply` to make sure it's in the state file. After that. change 1 value in the check block. (for example the http). And run apply again. At my end its outputting "no changes."

[2020-11-11 23:17] remilapeyre commented on #237
Hi @stokkie90, thanks for the feedback, I now have a reproducible example:

[code]

I'm not sure why some changes are picked up and some are ignore, I'm still looking for the root cause of this bug.

[2020-11-16 15:13] ferrarimarco opened #239 "consul_acl_token_secret_id data source errors with an access denied (403)"
### Terraform Version

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- `data.consul_acl_token_secret_id`

### Terraform Configuration Files

[code]

### Debug Output

[code]

On the Consul side, I see a corresponding error:

[code]

where `TOKEN-ID` is the ID of the token, that I double-checked.

### Expected Behavior

Terraform should be able to present a suit

[2020-11-16 15:30] ferrarimarco commented on #239
A couple of updates:

- Consul version: 1.8.2

I'm now checking if using the bootstrap ACL token directly instead of loading it from the K8S secret has any impact.

[2020-11-16 15:35] ferrarimarco commented on #239
Is there a way to have a listing of the consul client configuration? I'm looking forward to the token that the client is using. Thanks!

[2020-11-18 09:51] yevgeniyo commented on #48
be aware that nowadays, byte_lenght should be 32

[code]

[2020-11-25 02:42] lawliet89 commented on #235
@remilapeyre Consul 1.9 is out! Could we get #232 merged in for a new release? Thank you for your help.

[2020-11-25 18:06] remilapeyre commented on #235
Hi I will try do it in the coming days :)

[2020-12-01 21:49] remilapeyre commented on #239
Hi @ferrarimarco, sorry to not have answered sooner. I had no Kubernetes cluster to reproduce your setup and needed to setup one to reproduce your setup. I have not yet succeeded in reproducing the bug. Do you have multiple Consul clusters?

I think the simplest method to get this would be to use `mitmproxy` that will make it possible to inspect all requests made by the Consul provider.

[2020-12-01 23:16] ferrarimarco commented on #239
After upgrading to the latest consul, it didn't occur anymore. I'll reopen if this appens again!

Thanks!

[2020-12-07 13:46] ferrarimarco commented on #239
Sorry to reopen this, but started happening again. Apparently, updating consul didn't fix it in the end :(

I do have only one Consul cluster, that I deployed with the `0.24.1` chart.

[2020-12-07 13:47] ferrarimarco commented on #239
The debug output looks like the one I appended in my first message here :)

[2020-12-07 13:50] ferrarimarco commented on #239
Might it be a race condition of some kind?

[2020-12-31 05:01] woz5999 commented on #235
@remilapeyre any update on this? kind of a bummer refactoring stuff to move off the legacy api and the provider doesn't support the new method.

[2021-01-07 02:35] lawliet89 commented on #235
It's merged! Thanks for your help. Now to get a release 😝

[2021-01-07 02:35] #235 closed

[2021-01-24 01:43] remilapeyre commented on #95
Hi everyone, I finally found a way to bootstrap the ACL system without having to write the management token in the Terraform state. https://github.com/hashicorp/vault/pull/10751 makes it possible to use Vault to do the ACL bootstrapping securely. Once it has been merged in Vault I will write a guide to show how to do this and generate additional Consul token from Vault using Terraform.

[2021-02-05 14:46] whiskeysierra opened #240 "ACL Auth Method is not updated correctly"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.14.5

### Affected Resource(s)
Please list the resources as a list, for example:
- consul_acl_auth_method

If this issue appears to

[2021-02-17 13:22] whiskeysierra commented on #240
I worked around the issue by including a hash in the name because that forces a replacement:

[code]

For me that's OK because all the places where I refer to that auth method by name are managed within the same terraform module, so they would be updated/replaced automatically as well.

[2021-02-17 13:24] whiskeysierra commented on #240
And I was only able to perform a valid update of any kind by forcing a full replacement.

[2021-02-24 14:47] enichols-insight opened #243 "Add Namespace support to data.consul_acl_token_secret_id"
### Terraform Version
All

### Affected Resource(s)
- data.consul_acl_token_secret_id

### Feature Request
Add Namespace support to the data.consul_acl_token_secret_id resource.

[2021-02-24 14:54] enichols-insight commented on #243
It appears a PR is already open for this request:
https://github.com/hashicorp/terraform-provider-consul/pull/242

[2021-02-24 14:54] #243 closed

[2021-02-24 16:26] whiskeysierra commented on #240
My workaround actually breaks all clients that are using a token that was issued by that auth method. The moment the auth method is deleted and re-created, all of the associated ACL tokens become invalid and will be rejected.

[2021-02-25 07:20] whiskeysierra commented on #240
The plan reports changes on the "config" property which I'm not even using. I'm using the "config_json" version because "config" is deprecated. But I saw that after the initial apply, terraform will still read "config" and detect incorrect changes. I tried to work around that by ignoring changes to "config". Maybe the handling of "config" vs "config_json" both in terraform and my usage of it might

[2021-02-25 10:22] whiskeysierra commented on #240
I debugged it a bit more and using config_json with an ignore changes on config will never cause an update. For  some reason, there are no changes detected in config_json.

[code]

[2021-02-25 10:23] whiskeysierra commented on #240
If I remove the ignore_changes/lifecycle block, then there will always changes be reported (always being changed to null) but never actually applied in a way that it can be observed in consul.

[2021-02-25 10:25] whiskeysierra commented on #240
Changing from config_json back to config causes:

module.main.module.consul.consul_acl_auth_method.default to include new values
learned so far during apply, provider "registry.terraform.io/hashicorp/consul"
produced an invalid new value for .config_json: was null, but now
cty.StringVal("{\"CACert\":...

[2021-02-25 10:35] whiskeysierra commented on #240
So I tried two different ways, both starting from a clean state:

1. Create an auth method with `config` and update the jwt
2. Create an auth method with `config_json` and update the jwt

Both will plan a change and claim that they applied it but they never do. The jwt never updates and a new plan is always dirty, i.e. the change never happened.

[2021-02-25 10:57] whiskeysierra commented on #240
I guess the issue that changes to `config` need to be ignored if `config_json` is used is due to the missing `DiffSuppressFunc` for `config`?

https://github.com/hashicorp/terraform-provider-consul/blob/02b30eb08dc6843230a78a8e28f1d7d9ba1173fa/consul/resource_consul_acl_auth_method.go#L70-L90

[2021-03-17 22:10] brucec5 opened #246 "Support namespace and meta in consul_config_entry"
### Terraform Version
[code]

### Affected Resource(s)
- consul_config_entry

### Terraform Configuration Files
[code]

### Expected Behavior
Per [the docs](https://www.consul.io/docs/connect/config-entries), it appears that all config entry kinds should support a `namespace` param. In my use-case, it is especially important for [`service-intentions`](https://www.consul.io/docs/connect/config-entr

[2021-03-25 13:16] chrisjohnson opened #247 "No way to set attributes on default namespace"
Currently there's no way to set attributes on an existing namespace. The pattern for setting ACL policies on the built-in tokens  is to use consul_acl_token_policy_attachment which allows you to specify a token that wasn't created by terraform.

A consul_namespace_policy_attachment resource seems appropriate here. You could specify namespace=default and attach policies and roles to it that way. Th

[2021-03-25 18:20] edevil opened #248 "Selector of consul_acl_binding_rule is not checked for syntax errors"
### Terraform Version

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- consul_acl_binding_rule

### Debug Output

[code]

### Expected Behavior
Terraform plan should have produced an error.

### Actual Behavior
Terraform plan did not produce an error and apply failed.

### Steps to Reproduce

Configure an invalid selector such as ```selector    = "value.namespa

[2021-03-26 16:57] danieleva opened #249 "Provider produced inconsistent result after apply when interacting with remote secondary datacenters"
### Terraform Version
Terraform v0.14.7
registry.terraform.io/hashicorp/consul v2.11.0
consul 1.9.4

### Affected Resource(s)
Please list the resources as a list, for example:
- consul_acl_policy

Reproducing the issue requires some setup.
I have 2 consul datacenters, WAN federated with ACL replication enabled. The primary is in US, secondary in Asia/Pacific.
There is a ~200ms latency on the WAN c

[2021-04-07 13:24] hkamat opened #250 "consul kv TLS / encryption error"
Hi there,

While running terraform consul provider for creating key / values using consul_keys i get below error
Failed to write Consul key '<key_name>': Put "https://<ip:port>/v1/kv/<key_name>?dc=test1": tls: first record does not look like a TLS handshake.

As part of the provider i have given certificates, key file and consul token.

On the server i can see below log message for the above machi

[2021-04-09 04:39] #250 closed

[2021-04-09 04:39] hkamat commented on #250
Closing this as this was server config issue.

[2021-04-19 07:55] tkwy-rick commented on #237
@remilapeyre Any update on this? :smiley:

[2021-04-19 10:45] idallaserra opened #251 "consul_acl_auth_method ACL not found error"
Dear all,
trying to create exactly the example auth method of the
[example](https://registry.terraform.io/providers/hashicorp/consul/latest/docs/resources/acl_auth_method)

I obtain this error:

`│ Error: Failed to create auth method 'minikube': Unexpected response code: 403 (ACL not found)
│
│   on main.tf line 41, in resource "consul_acl_auth_method" "minikube":
│   41: resource "consul_acl_auth

[2021-04-19 12:00] #251 closed

[2021-04-19 12:00] idallaserra commented on #251
Wrong token... sorry.

[2021-04-26 14:56] fabio-grassi-gbs commented on #246
We are feeling this as a serious gap and hope it is easy as it looks to fix it as we would badly need to create config entry into namespaces.

[2021-05-03 14:28] bflad opened #253 "Release with darwin/arm64 Support"
### Terraform Version

[code]

### Affected Resource(s)

N/A

### Terraform Configuration Files

N/A

### Debug Output

N/A

### Expected Behavior

Able to install provider on `darwin/arm64` platform without manually compiling.

### Actual Behavior

Error during `terraform init`:

[code]

Need to manually compile and install provider for `darwin/arm64` support.

### Steps to Reproduce

1. `terrafo

[2021-05-06 16:51] chrisjohnson commented on #247
FWIW it does seem like consul lets you create a namespace with the name default and it merges into the default, however this can be problematic when attempting to destroy the resource later on as terraform errors out. You end up having to manually clean up state. So there is a hacky workaround, but ideally an _attachment type resource would be introduced

[2021-05-08 11:27] #253 closed

[2021-05-09 15:03] remilapeyre commented on #246
Hi @brucec5 and @fabio-grassi-gbs, sorry for the time it took me to take care of this issue, https://github.com/hashicorp/terraform-provider-consul/pull/256 should do what you are looking for. I will make a new release of the provider shortly.

Here's how you should be able to set a namespace and use the `meta` parameter:

[code]

The `consul_config_entry` resource is a bit weird as the schema can

[2021-05-09 15:27] fabio-grassi-gbs commented on #246
Thanks a lot. Ciao ,FG

Da: Rémi Lapeyre ***@***.***>
Inviato: domenica 9 maggio 2021 17:03
A: hashicorp/terraform-provider-consul ***@***.***>
Cc: Grassi Fabio ***@***.***>; Mention ***@***.***>
Oggetto: Re: [hashicorp/terraform-provider-consul] Support namespace and meta in consul_config_entry (#246)

Hi @brucec5<https://github.com/brucec5> and @fabio-grassi-gbs<https://github.com/fabio-grassi-g

[2021-05-09 15:40] remilapeyre commented on #249
Hi @danieleva, thanks for reporting this issue. I did not test much with federated datacenters, the provider certainly behaves weirdly in this cases and is probably not coherent for each resource. I will have a look in the coming days to find what is the best way to proceed, the retry solution looks appropriate for ACLs but I would like to make sure it is.

[2021-05-09 15:51] remilapeyre commented on #248
Hi @edevil, to be able to do detect this error during the `plan` we would have to use thee same version of https://github.com/hashicorp/go-bexpr that the Consul server uses since future versions of this library might support more complex expressions.

If at one point we forget to update then we would refuse some expressions that are accepted by the current version of Consul and even if we keep thi

[2021-05-09 16:03] remilapeyre commented on #247
Hi @chrisjohnson, thanks for raising this issue. This should indeed be fixed, I'm not sure a new resource would be the best way to go here though, perhaps we should just make the destroy a no-op for the `default` namespace?

[2021-05-09 20:38] #240 closed

[2021-05-09 20:41] remilapeyre commented on #240
Hi @whiskeysierra, thanks for reporting the issue and looking into it. The `consul_acl_auth_method` does not have a schema that can be represented in Terraform nicely with the Terraform SDK v1, I plan to update to the v2 in the coming weeks when we drop the support for Terraform 0.11.

In the meantime https://github.com/hashicorp/terraform-provider-consul/pull/244 should fix the diff suppression l

[2021-05-11 09:59] #159 closed

[2021-05-11 10:08] multani commented on #159
@remilapeyre Excellent, thanks!

[2021-05-11 13:01] remilapeyre commented on #9
Hi @samber, I initially left open this issue to think about it and see whether something like this could be added to Terraform Core. The main issue with parsing `.env` file is that they are actually executable files which are executed in the context of the current shell, they are therefore able to use any shell command, syntax, conditional, etc. and can even call external programs.

While many of

[2021-05-11 13:01] #9 closed

[2021-05-12 15:16] #246 closed

[2021-05-12 15:36] #8 closed

[2021-05-23 21:33] remilapeyre commented on #231
Hi @cageyv, I tried again and could not reproduce your issue. Since it may not be a bug in the Terraform provider but an issue in your configuration I will close the bug for now. Please reopen it if you still have this issue or if you found some way to reproduce it :)

[2021-05-23 21:33] #231 closed

[2021-05-23 21:39] remilapeyre commented on #57
Hi, the fix for this issue has been released in the 2.4.0 version so this should work as expected now :)

[2021-05-23 21:39] #57 closed

[2021-05-24 13:22] pedrohdz opened #260 "consul_acl_auth_method not deferring the interpolation causing failure"
The Consul Terraform provider is not deferring the interpolations of the `consul_acl_auth_method` data instance attributes.

According to @jbardin in https://github.com/hashicorp/terraform/issues/28786#issuecomment-847031398:

From the Terraform documentation under  [Data Source Lifecycle](https://www.terraform.io/docs/configuration-0-11/data-sources.html#data-source-lifecycle):

I have tested thi

[2021-05-24 22:24] remilapeyre commented on #260
Hi @pedrohdz, thanks for the very clear bug report and looking into the root cause. https://github.com/hashicorp/terraform-provider-consul/pull/261 should fix the issue.

[2021-05-24 23:33] remilapeyre commented on #237
Hi @tkwy-rick, I think it is due to the weird way the Terraform SDK handles sets, https://github.com/hashicorp/terraform-provider-consul/pull/262 should solve the issue :)

[2021-05-24 23:52] remilapeyre commented on #247
Thinking about it it makes sense to both have a `consul_namespace_policy_attachment` resource and make `consul_namespace` importable so that is possible to import the `default` namespace in the configuration to manage it like the rest of the other ones,  this is already what we do for the `anonymous` token for example.

https://github.com/hashicorp/terraform-provider-consul/pull/263 adds import su

[2021-05-25 00:15] remilapeyre commented on #239
If you have a single datacenter I don't think a race condition should be possible. I've tried but could not reproduce the issue, could you post a complete Terraform configuration so that I can try to reproduce the bug?

[2021-05-25 00:30] remilapeyre commented on #177
Hi @carr-disco since this issue happened with an old version of Terraform with an old version of the provider and it has not been reported again since it is possible that this does not happen anymore.

If you still have this issue or have a reproducible example please re-open this issue.

[2021-05-25 00:30] #177 closed

[2021-05-25 00:43] remilapeyre commented on #186
Do you have an example of Terraform configuration that I can use to reproduce the issue?

[2021-05-25 01:27] mdeggies opened #264 "Migrate travis tests to GitHub actions"
Travis-ci.org is being deprecated at the end of May 2021. Travis tests will need to be moved to run in Actions.

[2021-05-25 05:58] pedrohdz commented on #260
Thanks for looking into this @remilapeyre!

[2021-05-25 07:31] ferrarimarco commented on #239
I don't have access to that environment anymore. Feel free to close, or keep open as reference :)

[2021-05-25 07:31] ferrarimarco commented on #186
I don't have access to that environment anymore. Feel free to close, or keep open as reference :)

[2021-05-25 09:07] remilapeyre commented on #11
Hi @wv-cfromm, is the key read by `data.consul_keys.vpc` in the same Terraform configuration? If so it's possible that you are seeing a race condition between the resource and the datasource. If not it could be a bug but I could not trigger it during my local testing. Since we have not had other reports of this bug since this one, it's possible that it was a misconfiguration and I think it's safe

[2021-05-25 09:07] #11 closed

[2021-05-25 16:26] quinndiggity opened #266 "keybase.io certificate issued May 24, 2021 not trusted by provider"
### Terraform Version
Terraform v0.15.4
on linux_amd64
+ provider registry.terraform.io/hashicorp/consul v2.12.0

### Affected Resource(s)
Please list the resources as a list, for example:
- data.consul_acl_token_secret_id

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Outpu

[2021-05-25 16:28] quinndiggity commented on #266
`curl 'https://keybase.io/_/api/1.0/user/lookup.json?usernames=...&fields=public_keys'`
[code]
username redacted; note, no CA issues due to system trust chain

[2021-05-25 16:33] quinndiggity commented on #266
`openssl s_client -showcerts -connect keybase.io:443 -servername keybase.io`
[code]
`Verify return code: 0 (ok)`, so it seems to be an issue originating with `hashicorp/terraform-provider-consul` (vs, local workstation's truststore or other similar details)

[2021-05-25 17:05] quinndiggity commented on #266
Noticing that https://github.com/hashicorp/terraform-plugin-sdk had `internal/vault/helper` removed recently (https://github.com/hashicorp/terraform-plugin-sdk/commit/db1d38ffc8c79fe75184a701aca4416b260ef867) - I'm not certain where the best location to report this issue is, but will file on `hashicorp/terraform-plugin-sdk` as well just in case

[2021-05-25 17:51] quinndiggity commented on #266
Guh, this may be due to flakiness on keybase.io 's side 😩  I am able to get the error to occur when using curl, but inconsistently (terraform makes a dozen or so calls, so it's easy to see why the flakiness would affect it consistently):

`curl -vvvv -i 'https://keybase.io/_/api/1.0/user/lookup.json?usernames=...&fields=public_keys'`
[code]

`curl -vvvv -i 'https://keybase.io/_/api/1.0/user/lookup

[2021-05-25 17:55] quinndiggity commented on #266
yeah, looks like keybase.io has updated only a portion of their instances 😩 as to where to report this...
`curl -k -vvvv -i 'https://keybase.io/_/api/1.0/user/lookup.json?usernames=...&fields=public_keys'`
[code]

[2021-05-25 18:00] quinndiggity commented on #266
Workaround for anyone running into this in the mean time (swap ... for your keybase username):
`curl -s -k 'https://keybase.io/_/api/1.0/user/lookup.json?usernames=...&fields=public_keys' | jq -r .them[0].public_keys.primary.bundle | base64 --wrap=0`
and use the base64 encoded value in place of:

[code]

[2021-05-25 18:07] quinndiggity commented on #266
or:
`curl -s -k 'https://keybase.io/_/api/1.0/user/lookup.json?usernames=some-keybase-username&fields=public_keys' | jq -r .them[0].public_keys.primary.bundle > some-keybase-username.pgp`
and:
[code]

[2021-05-26 09:02] remilapeyre commented on #266
Hi @quinndiggity, I noticed this issue too and had found the issue you reported on their bug tracker. I find it weird that this post dates from 2016 and that the cert has only been deployed to some of their servers, for now many of them are still using a valid cert that expires in 2022. I will contact them to find out more.

[2021-05-26 09:14] #266 closed

[2021-06-01 18:41] tdgeery commented on #239
I'm now experiencing this issue
Provider Config
[code]

Resources
[code]

Running Consul 1.9.5 on GKE

Provider Versions
[code]

[2021-06-22 11:34] nadenf opened #270 "consul_services.tags is not implemented"
### Terraform Version
1.0.0

### Affected Resource(s)
Please list the resources as a list, for example:
consul_services

### Expected Behavior
As per the [documentation](https://registry.terraform.io/providers/hashicorp/consul/latest/docs/data-sources/services), consul_services should have a tags output which is a map of tags -> service names.

### Actual Behavior
As per the [code](https://github.

[2021-06-22 17:01] nadenf opened #272 "make bin target does not exist"
### Terraform Version
1.0.0

### Expected Behavior
As per the [README](https://github.com/hashicorp/terraform-provider-consul) I should be able to run ```make bin``` in order to build this provider.

### Actual Behavior
No such target exists in the [Makefile](https://github.com/hashicorp/terraform-provider-consul/blob/master/GNUmakefile) resulting in the following error:

[code]

[2021-07-15 23:31] #272 closed

[2021-07-15 23:32] remilapeyre commented on #272
Hi @nadenf, thanks for reporting this. I updated the build instructions based on the README of https://github.com/hashicorp/terraform-provider-scaffolding to make them closer to the rest of the Terraform providers.

[2021-07-15 23:33] remilapeyre commented on #264
Thanks @mdeggies for having taken care of this :)

[2021-07-15 23:33] #264 closed

[2021-07-15 23:35] remilapeyre commented on #270
Hi @nadenf, thanks for reporting this issue, it has been fixed by #274 based on your work.

[2021-07-15 23:35] #270 closed

[2021-07-16 23:59] gc-ss opened #275 "Disambiguate consul backing store names to help during migration"
#### Feature Description

I currently have a consul cluster per environment and I use consul as the backing store for Terraform.
Often, after certain internal milestones/checkpoints, I change the consul cluster that Terraform is configured to use.
When this happens, the migration message output from Terraform confuses me.

For example, assume:
- I have `consul_cluster_a` and `consul_cluster_b`.
-

[2021-07-17 01:02] gc-ss commented on #275
One potential fix, if this is not currently supported:

Instead of the current definition block:

[code]

add/allow a new definition block that allows a `"name tag"`:

[code]

[2021-07-26 18:07] Mongey opened #276 "New release?"
👋 Hey there, what's the process for getting a new release published.
Looking to get to use #245 😅

[2021-07-28 10:14] tkwy-rick commented on #276
Please also: #262

[2021-07-28 11:29] remilapeyre commented on #276
Hi, we are in preparing the new release, it should be out shortly.

[2021-07-29 07:42] #247 closed

[2021-07-29 07:43] #260 closed

[2021-07-29 07:43] #237 closed

[2021-08-04 16:04] palmertime commented on #18
@matelang I'm am having the same problem.  If you remember the solution, can you share it?

[2021-08-05 07:25] matelang commented on #18
Hi @palmertime ,

Unfortunately I don't remember what the solution was, I should have posted it here originally.

In retrospective, I think you could do terraform state rm '<X>' for all the resources that you'd like inserted back, but it's kind of a hackish solution.

[2021-08-19 02:48] lawliet89 opened #281 "Permanent diff when using `consul_config_entry` for intentions"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2021-08-19 22:06] remilapeyre commented on #276
Hi @Mongey, @tkwy-rick sorry for the delay, version 2.13.0 has now been released and you should be able to get it by running `terraform init -upgrade`!

[2021-08-19 22:06] #276 closed

[2021-08-19 22:08] remilapeyre commented on #281
Hi @lawliet89, thanks for reporting this issue. Could you please add the content of the `connect_allowed_services` variable so that I can reproduce your configuration locally?

[2021-08-20 01:49] lawliet89 commented on #281
@remilapeyre `var.connect_allowed_services` is just an arbitrary list of strings. You can just test it out with `[]` and you should still be able to reproduce this.

I am using Consul 1.10.1.

[2021-08-20 15:16] sindar225 opened #282 "Failed to update service. Request decode failed: json: unknown field "SocketPath""
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2021-08-20 15:18] sindar225 commented on #282
It works fine if running with hashicorp/consul v2.12.0, the problem only happens with the version v.2.13.0.

[2021-08-20 15:29] blake commented on #282
Hi, @sindar225. Thanks for the bug report. In order to help us troubleshoot this, can you also share the version of Consul that you are using in your environment?

Thanks.

[2021-08-20 16:04] remilapeyre commented on #281
Hi @lawliet89, here's the error I get when trying to apply

[code]

:

[code]

[2021-08-20 17:14] sindar225 commented on #282
Hi, @blake. It's `Consul 1.9.4`.

[2021-08-21 20:45] remilapeyre commented on #282
Hi @sindar225, the latest version of the Terraform provider is usually only compatible with the latest version of Consul as we have are using the Consul SDK which is not always compatible with previous Consul version. Version 2.13.0 is only compatible with Consul 1.10.0 and later. I would like to improve this but it may not be simple to do it.

If you don't need the new features in the provider I

[2021-08-23 02:09] lawliet89 commented on #281
You need to set a `service-defaults` to set `grafana` as a HTTP service.

[code]

[2021-08-23 05:17] sindar225 commented on #282
Hi @remilapeyre, well as for now I need to get terraform pipelines back to working state, new features are optional. Seems like I need to introduce a `version` parameter to every affected provider.

[2021-08-23 19:19] remilapeyre commented on #282
Indeed, adding a version like:

[code]

should get things working again. Also, since Terraform 0.14 there is a dependency lock file that saves the version of each provider used. It seems like it did not helped you here, perhaps you are running Terraform in a CI runner and never saved `.terraform.lock.hcl`? If this is the case I think you can run `terraform init` once for all your projects and comm

[2021-08-23 19:33] remilapeyre commented on #281
Thanks, I looked into the issue. The root cause of the issue is that Consul configuration entries can take different attributes based on their kind, and those attributes can have different defaults based on the configuration of thee cluster. Even worse one config entry kind can have different attributes based on the Consul server version.

This makes it impossible for Terraform to known if an attr

[2021-08-24 08:52] sindar225 commented on #282
Thank you for clarification and help, @remilapeyre.

[2021-08-24 08:52] #282 closed

[2021-08-24 14:14] lawliet89 commented on #281
That's logical. The only issue I can see is that the precedence of an intention might change between different consul versions (AFAIK) . I guess it might not be very viable to put in custom diff suppression code for different config entries?

[2021-08-31 23:21] remilapeyre commented on #275
Hi @gc-ss, the different Terraform backends are all a part of Terraform core so the code is at https://github.com/hashicorp/terraform, specifically the part that handles backend migration is at https://github.com/hashicorp/terraform/blob/main/internal/command/meta_backend_migrate.go, for example the confusing message for the scenario where we migrate from a consul cluster to another consul cluster

[2021-09-03 18:41] rjhornsby opened #283 "provider DNS failure on macOS on VPN"
This is similar, if not identical, to https://github.com/hashicorp/terraform-provider-kubernetes/issues/969. More discussion about the underlying GOLANG issue as it relates to Terraform core https://github.com/hashicorp/terraform/issues/3536

In summary, when connected to a VPN on a Mac, the consul provider is bypassing the local resolver configuration, and fails DNS lookups like `consul.service.c

[2021-09-06 11:58] FernandoMiguel commented on #282
can the changelog pls mention the restriction of newer version of consul?
this should be a major release, not a minor version.

[2021-09-15 15:07] blake opened #284 "Support ACL Node Identities in consul_acl_role and consul_acl_token resources"
Similar to [ACL Service Identities](https://www.consul.io/docs/security/acl/acl-system#acl-service-identities), Consul added support for [ACL Node Identities](https://www.consul.io/docs/security/acl/acl-system#acl-node-identities) in Consul 1.8.1.

The `consul_acl_role` which was added in #128 only supports associating a service identity to a given token, but not a node identity. This is a feature

[2021-09-30 15:16] sebastianreloaded opened #289 "[Feature] Support Secret for consul_acl_token"
It would be helpful to support the SecretID when creating tokens, so i am not forced to use the command line:
consul acl token create -policy-name "$POLICYNAME" -description "Agent Token" -secret=$TOKENSECRET

### Affected Resource(s)
- consul_acl_token

### References
- https://github.com/hashicorp/terraform-provider-consul/blob/e3c5fd496093cf69b77272cf3cca9d1323d6fce0/vendor/github.com/hashicorp

[2021-09-30 23:08] #281 closed

[2021-09-30 23:17] #284 closed

[2021-10-02 21:30] remilapeyre commented on #289
Hi @sebastianreloaded, we decided against returning the secret id in `consul_acl_token` as they would be written in the Terraform state and the update for the new ACL system in Consul 1.4 was so that places that needed to reference a token could do so with its accessor ID instead of its secret ID.

The Kubernetes, JWT and OIDC authentication methods can be used to set up authentication and have ap

[2021-10-02 21:32] remilapeyre commented on #283
Hi @rjhornsby, thanks for bringing this issue to my attention. I checked with the rest of the team and the release team is currently into this. I will notice you when we fix this :)

[2021-10-02 21:35] #39 closed

[2021-10-02 21:40] #186 closed

[2021-10-06 07:20] sebastianreloaded commented on #289
Hi @remilapeyre, i was talking about setting the secretID when creating a token, not returning the created token.
I have pregenerated tokens and want to use exactly those. This is supported by the consul agent and the api, but not in this provider.

[2021-11-19 13:36] james-masson opened #290 "Feature request: Data source for available datacenters."
I'd like to create a prepared query that should exist in every datacenter.

Currently there seems to be no way to retrieve the list of datacenters that Consul has available, to provide these to a configured resource.

Configuring and updating a resource manually across a set of datacenters doesn't seem ideal.

### Terraform Version
v0.15.1

### Terraform Configuration Files
[code]

[2022-01-03 18:34] john-delivuk opened #291 "consul_service requires time out for HTTP"
Hi there,

### Terraform Version
1.0.11

### Affected Resource(s)
Please list the resources as a list, for example:
- consul_service

### Terraform Configuration Files
[code]

### Debug Output
Please provider a link to a GitHub Gist containing the complete debug output:
[code]

### Expected Behavior
According to the docs, timeout is only used for HTTP checks. If this is true, timeout should not be

[2022-01-03 19:04] john-delivuk commented on #291
It appears setting `timeout` appears to force a the check to be http.

[code]

[2022-01-10 07:28] blake commented on #291
According to the documentation at <https://www.consul.io/docs/discovery/checks>, all of the supported check types have a default timeout value that can optionally be overridden via the `timeout` parameter.

Unless I'm overlooking something, this section of code for the `consul_service` resource should be updated to reflect that timeout is an optional parameter.

https://github.com/hashicorp/terraf

[2022-01-27 16:42] Seth-Karlo commented on #289
Just wanted to add that this is also something we'd like to do, we might make a PR with the functionality if that would be helpful!

[2022-01-31 22:13] #290 closed

[2022-01-31 22:14] remilapeyre commented on #290
Hi @james-masson, thanks for opening this issue. @Seth-Karlo made a PR to add this new datasource and it will ship in the next release that should be in a couple of days.

[2022-02-16 10:14] erisnar commented on #249
We experienced the same issue and solved it by configuring the provider to the primary datacenter.

[2022-03-08 03:27] askmike1 opened #298 "Consul Provider token rotation issue"
### Terraform Version
Tested with 0.12.31 & 1.1.7

### Affected Resource(s)
- consul_key_prefix

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
When token changes it should pick up the new one

### Actual Behavior
It tries to use whatever token is in the state file and thus fails as it no longer exists

### Steps to Reproduce
1. `terrafo

[2022-03-20 21:46] remilapeyre commented on #298
Hi @askmike1, thanks for opening this issue.

Sadly the issue here lies in how Terraform interact with providers, when reading a resource the provider only gets the current state as input, not the current user-configuration: https://github.com/hashicorp/terraform/blob/e6dbb7faf0407f6f98a451bbe8b0eb5fc160b4ec/docs/plugin-protocol/tfplugin6.2.proto#L249-L254.

The `token` argument in the `consul_key

[2022-03-25 13:11] manobi commented on #239
Hi @tdgeery, using the same approach to get token from kubernetes secret and having the same issue while reading consul policies. Did you figure it out how to solve?

[2022-03-28 18:46] tdgeery commented on #239
@manobi Since I'm creating Consul and Vault in the same repository, I imported the Consul bootstrap token into terraform and am passing that to the provider:

[code]

Under the Consul Helm chart:

[code]

and then for the consul provider:

[code]

[2022-04-09 19:55] npearce opened #302 "Support for Admin Partitions"
Hi there,

Please add support for Admin Partitions:
https://github.com/hashicorp/terraform-provider-consul/blob/395ecf2cdfdde10b38360c3158ebe67ec6bbfde1/consul/resource_consul_intention.go#L24-L77

### Terraform Version
n/a

### Affected Resource(s)
Please list the resources as a list, for example:
- consul_intention

### Terraform Configuration Files
Need support for this:

[code]

### Expected B

[2022-04-11 15:08] remilapeyre commented on #302
Hi @npearce `consul_intention` is deprecated, but `consul_config_entry` has support for Admin partitions in 2.15.1.

Does this fit your needs?

[2022-04-11 16:01] adt1983 opened #304 "archive has incorrect checksum"
Terraform v0.14.7

Error: Failed to install provider
Error while installing hashicorp/consul v2.15.1: archive has incorrect
checksum zh:52892673477d9c32b103c14df42e5425e4669dc1b5c37a2083b15ea43093bc7b
(expected zh:c7faa9a2b11bc45833a3e8e340f22f1ecf01597eaeffa7669234b4549d7dfa85)

[2022-04-11 16:04] askmike1 opened #305 "Version 2.15.1 appears to have checksum issues"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Affecting 0.11.15, 0.12.31, 1.0.11, potentially other versions as well

### Affected Resource(s)
Provider init itself

### Terraform Configuratio

[2022-04-11 16:12] allenzahner commented on #305
We have same issue.  Started about an hour ago.

[2022-04-11 16:54] bflad commented on #305
The checksums would've changed if the repository contents changed between 2.15.1 release attempts. In general, it is best to cut a new release in that scenario. I have submitted CDN purge requests for releases.hashicorp.com/terraform-provider-consul/2.15.1/* to try and alleviate the issue, however a better fix may be to just cut a "clean" 2.15.2.

[2022-04-11 17:02] mazjindeel-code42 commented on #305
Your CDN purge request seems to has fixed it for version 2.15.1. Thank you for the quick turnaround!

[2022-04-11 17:38] adt1983 commented on #304
Fixed via #305

[2022-04-11 17:38] #304 closed

[2022-04-11 17:54] askmike1 commented on #305
Can confirm as well it is working again

[2022-04-11 18:09] remilapeyre commented on #305
Hi, sorry about this. The release process changed and the first try at getting 2.15.1. Failed so I had to try it again and it apparently produced binaries with a different checksum.

@bflad should I cut a fresh 2.15.2 release to make sure all no one else relies on 2.15.1?

[2022-04-12 16:45] npearce commented on #302
Ah, great! I had looked at that, too (pre-1.15.1 release). I'm happy with any working solution.
`consul_config_entry` will do just fine!

[2022-04-12 16:46] npearce commented on #302
Resolved

[2022-04-12 16:46] #302 closed

[2022-04-25 14:22] jrx opened #307 "Support admin partitions for consul_acl_token_secret_id"
### Terraform Version
Terraform v1.1.8

### Affected Resource(s)
- consul_acl_token_secret_id

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
The resource `consul_acl_token_secret_id` should provide an argument to configure the admin partition. e.g.:

[code]

### Actual Behavior
The resource `consul_acl_token_secret_id` has only support for the `namespace`

[2022-04-27 20:06] remilapeyre commented on #307
Hi @jrx! Thanks, for some reason this datasource was forgotten when adding the support for admin partitions. I will work on it shortly.

[2022-04-27 23:50] chris-aeviator commented on #187
@remilapeyre wouldnt it be possible to combine the two, and abstract away that complexity to users? Healthchecks ftw!!

[2022-05-25 21:59] joesteffee opened #308 "consul_keys resource shows read deprecation warning when keys are not being read"
[code]
[code]
The consul key is not being read anywhere else

[2022-06-29 17:01] nbari opened #310 "How to add weights to a service"
I am creating a service to be used with HAProxy  `server-template`, something like this:

[code]

But I get:
[code]

From here, consul seems to support weights: https://github.com/hashicorp/consul/pull/4468/files but how to use them from terraform?

[2022-07-05 15:37] wallacepf opened #311 "consul_certificate_authority seems to not recognize the token parameter"
Hi there,

### Terraform Version
v.1.2.4

### Affected Resource(s)
- consul_certificate_authority

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/wallacepf/e176780c1a4021f511dc596613abcd61

### Expected Behavior
Configure Consul to work with Vault

### Actual Behavior
Getting an error saying that the token isn't configured. This is odd because it seems like the

[2022-07-06 14:26] wallacepf commented on #311
Hello Guys! Just found a solution for the problem above. This is how it worked:
[code]

If this makes sense, we should update our provider docs to reflect the proper way to configure that.

Thanks

[2022-07-08 13:21] lethargosapatheia commented on #95
Hello, @remilapeyre. Have you eventually written this guide? Is there anywhere we can see it?

[2022-07-08 15:34] JalfResi commented on #95
I can see that Vault 1.11.0 has been released which contains:
 - secrets/consul: Vault is now able to automatically bootstrap the Consul ACL system. [https://github.com/hashicorp/vault/pull/10751]

What changes are needed to the Consul provider to take advantage of this feature?

[2022-07-24 16:28] techdragon commented on #95
Can this be done _without_ Vault?

I don't really like the idea of being required to add (and manage) Vault if I want to be able to fully automate the setup and management of a Consul cluster.

[2022-07-24 22:40] remilapeyre commented on #305
Hi @askmike1, thanks for reporting this issue. Everything has been fixed now :)

[2022-07-24 22:40] #305 closed

[2022-07-28 13:50] techdragon opened #313 "Document how to connect to a publicly accessible HCP Consul instance better."
### Terraform Version
[code]

### Affected Resource(s)
Multiple

### Terraform Configuration Files
NA

### Debug Output
NA

### Panic Output
NA

### Expected Behavior
Terraform should be able to manage the configured Consul when setup following the documentation and provided config values.

### Actual Behavior
Lots of errors

### Steps to Reproduce
Please list the steps required to reproduce the i

[2022-08-08 22:58] DaleyKD opened #316 "Import service-intentions + Separate `consul_config_entry` for each service-intentions"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- consul_config_entry

### Terraform Configuration Files
[code

[2022-08-09 00:40] DaleyKD commented on #316
The old `consul_intention` does exactly what I need.

[2022-08-09 16:05] DaleyKD commented on #316
Upgraded my HCS Cluster today to v1.11.6 (my clients are v1.12.3). I now see that the old `consul_intention` isn't going to be a great solution. (I'm still waiting? on the old intentions to be migrated to the new `service-intentions`.)

With that in mind, what are we to do to ensure that we can add these separately and also **import** them?  I COULD use a K8S CRD, but I don't love that.

[2022-08-17 21:44] remilapeyre commented on #316
Hi @DaleyKD, the HTTP API changed regarding the Consul Intentions and the Terraform provider reflect this. I understand that it can be useful to be able to set one intention for a service in a Terraform configuration without changing the other ones. I will look for a solution to support this.

[2022-08-17 21:54] remilapeyre commented on #308
Hi @joesteffee, you are receiving this deprecation warning because you have set the `name` parameter. It is only used when `consul_keys` is used to read keys, not when writing values. You can remove this parameter and your configuration should work just the same nut the deprecation warning will disappear.

I will close this issue for now, please reopen it if you have any other problem.

[2022-08-17 21:55] remilapeyre commented on #308
/close

[2022-08-17 21:55] #308 closed

[2022-08-17 22:12] DaleyKD commented on #316
@remilapeyre : Totally understood and greatly appreciated. For the time being, though it's not my preferred method, I will go be using the K8S CRD YAMLs.

[2022-08-18 07:46] remilapeyre commented on #95
Hi, support for bootstrapping ACLs with Vault as indeed officially landed. While I haven't had time to write in the Terraform provider there is documentation in the Vault project: https://www.vaultproject.io/docs/secrets/consul#setup. You will be able to do the same thing using the Vault Terraform provider.

I understand that having an extra system to manage may not be ideal but it is very importa

[2022-08-18 13:46] mkeeler commented on #307
This was fixed in #315.

[2022-08-20 20:26] vortarian commented on #95
We did it this way, looking foward to it being suppored in the official provider:
[code]

[2022-08-23 15:14] DaleyKD commented on #316
@remilapeyre : Went to try and get all the K8S CRDs setup today, and quickly found out that this, too, doesn't work.

When I use Terraform to create a new microservice, I want it to be able to setup the intentions that it needs. This new microservice is the SOURCE, not the destination. However, Consul has it completely inverted: you key off the destination, and it has to know all of its sources.

[2022-08-23 21:54] remilapeyre commented on #316
Hi @DaleyKD, I understand what you mean. The current implementation in the Consul API lets each service control who can access it, which is logical as if the caller and the callee are managed by different teams (they could even be on different Consul cluster) the callee's team should be able to control who can access the service, not the caller's.

I understand that having to manage them from a ce

[2022-08-24 13:34] DaleyKD commented on #316
When you write it up like that, explaining the responsibilities of the team, of **_course_** it makes sense. 😃  DERP!

But that doesn't fit our company's workflow now. Thanks for your consideration!

[2022-08-25 17:12] dekimsey opened #317 "feat: Add data lookup for consul_config resources"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- data_consul_config

### Terraform Configuration Files
[code]

[2022-08-28 16:30] remilapeyre commented on #311
Hi @wallacepf, indeed the configuration must be given using the parameters documented at https://www.consul.io/docs/connect/ca/vault#configuration so with camel case:

I will update the documentation to make this clear.

[2022-08-28 17:56] remilapeyre commented on #310
Hi @nbari, it is currently not possible because of the version of the provider SDK we are using in the Consul provider. I've been keeping the old SDK for backward compatibility with old versions of Terraform but plan on updating over the next month.

[2022-08-28 17:57] remilapeyre commented on #307
Thanks @mkeeler !

[2022-08-28 17:57] #307 closed

[2022-10-12 14:21] krarey opened #324 "`consul_certificate_authority` resource doesn't support Vault auth method configuration"
### Terraform Version
Terraform v1.3.1 on linux_amd64

### Affected Resource(s)
- consul_certificate_authority

### Terraform Configuration Files
[code]

### Expected Behavior
The Consul Connect certificate authority should be correctly configured with the associated Vault auth method details, in place of requiring a hardcoded token. See [the Consul documentation](https://developer.hashicorp.com/c

[2022-10-17 19:14] johnnyplaydrums commented on #289
Hey @remilapeyre 👋 Given the uses cases described above, could this feature be added to your roadmap? It should be a relatively small task: Add a `secret_id` field to the existing `consul_acl_token` resource. This new `secret_id` field would be passed to the existing API call as [SecretID](https://developer.hashicorp.com/consul/api-docs/acl/tokens#secretid).